<!-- main wrapper - termina en footer -->
<div class="body-wrap">
  <!-- HEADER -->
  <div id="divHeaderWrapper">
    <header class="header-standard-2">     
    <!-- MAIN NAV -->
      <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
        <div class="phone-wrapper">
            <div class="row">
                <div class="pull-right" style="display: block">
                    <table class="phone-contact">
                        <tr>
                            <td>Cursos en Sede</td>
                            <td>+56 2 2378 7720</td>
                            <td class="separator"></td>
                            <td>Cursos In Office</td>
                            <td>+56 2 2378 7755</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars icon-custom"></i>
                </button>
                <%=link_to root_url, :class => "navbar-brand", :title => "Longbourn Institute" do%>
                    <%=image_tag "LogoLongbourn1.png", :alt => "Longbourn Institute"%>
                <%end%>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-md hidden-lg">
                        <div class="bg-light-gray">
                            <form class="form-horizontal form-light p-15" role="form">
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" placeholder="I want to find ...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-white" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li>
                      <%=link_to "Inglés In Office", :controller => :info, :action => :longbourn_executive%>
                    </li>
                    <li>
                        <%=link_to "Ingles en Sede", ingles_en_sede_path, {:class => "dropdown-toggle disabled", :data => {:toggle => "dropdown"}}%>
                        <ul class="dropdown-menu">
                            <li>
                              <%=link_to "Longbourn Institute - Mejores Horarios", longbourn_institute_path%>
                            </li>
                            <li>
                              <%=link_to "Longbourn StartUp - Mejores Precios", longbourn_startup_path%>
                            </li> 
                        </ul>
                    </li>
                    <li><%=link_to "Preparacion TOEFL", :controller => :info, :action => :cursos_toefl%></li>
                    <!--
                    <li class="dropdown">
                        <%=link_to "Preparación Tests", cursos_internacionales_path, {:class => "dropdown-toggle disabled", :data => {:toggle => "dropdown"}}%>
                        <ul class="dropdown-menu">
                            <li>
                              <%=link_to "TOEFL", :controller => :info, :action => :cursos_toefl%>
                            </li>
                            <li>
                              <%=link_to "TOEIC", :controller => :info, :action => :cursos_toeic%>
                            </li>
                            <li>
                              <%=link_to "IELTS", :controller => :info, :action => :cursos_ielts%>
                            </li> 
                        </ul>
                    </li>
                    -->
                    <li>
                      <%=link_to "Metodología TEG", :controller => :info, :action => :teg_method%>
                    </li>
                    <li>
                      <%=link_to "Empresas", :controller => :info, :action => :cursos_empresas%>
                    </li>
                    <li>
                      <%=link_to "Contacto", {:controller => :site, :action => :contact_us}%>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
      </div>
    </header>        
  </div>
