<!-- main wrapper - termina en footer -->
<div class="body-wrap">
  <!-- HEADER -->
  <div id="divHeaderWrapper">
    <header class="header-standard-2">     
    <!-- MAIN NAV -->
      <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
        <!-- Encargada de la zona de los telefonos -->
        <div class="phone-wrapper hidden-xs hidden-sm">
            <div class="row">
                <div class="pull-right" style="display: block">
                    <table class="phone-contact">
                        <tr>
                            <td>Cursos en Sede</td>
                            <td>+56 2 2378 7720</td>
                            <td class="separator"></td>
                            <td>Cursos In Office</td>
                            <td>+56 2 2378 7755</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="container">
            
        <!-- Incluye el menu de arriba -->
            <div class="navbar-header">
               <!-- Boton del menu de arriba-->
               <button type="button" class="navbar-toggle hidden-xs hidden-sm" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars icon-custom"></i>
                </button> 
                <%=link_to root_url, :class => "navbar-brand", :title => "Longbourn Institute", :style => "margin-left:0px" do%>
                    <%=image_tag "LogoLongbourn1.png", :alt => "Longbourn Institute"%>
                <%end%>
                <a href="#" class="toggle-nav btn btn-lg hidden-md hidden-lg" style="float:left; margin-top:20px;">
                <i class="fa fa-bars" id="menu-button"></i>
            </a>

            </div>
        
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="bg-light-gray hidden-md hidden-lg">
                            <form class="form-horizontal form-light p-15" role="form">
                                <div class="input-group input-group-lg">
                                    <input type="textn" class="form-control" placeholder="I want to find ...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-white" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li>
                      <%=link_to "Inglés In Office", :controller => :info, :action => :longbourn_executive%>
                    </li>
                    <li>
                        <%=link_to "Inglés en Sede", {:controller => :info, :action => :cursos_en_sede}, {:class => "dropdown-toggle disabled", :data => {:toggle => "dropdown"}}%>
                        <ul class="dropdown-menu" >
                            <li>
                              <%=link_to "Longbourn Institute - Mejores Horarios", instituto_de_ingles_path%>
                            </li>
                            <li>
                              <%=link_to "Longbourn StartUp - Mejores Precios", ingles_empresarial_path%>
                            </li> 
                        </ul>
                    </li>
                    <li><%=link_to "Preparación TOEFL", :controller => :info, :action => :cursos_toefl%></li>
                    <!--
                    <li class="dropdown">
                        <%#link_to "Preparación Tests", cursos_internacionales_path, {:class => "dropdown-toggle disabled", :data => {:toggle => "dropdown"}}%>
                        <ul class="dropdown-menu">
                            <li>
                              
                            </li>
                            <li>
                              
                            </li>
                            <li>
                              
                            </li> 
                        </ul>
                    </li>
                    -->
                    <li>
                      <%=link_to "Metodología TEG", :controller => :info, :action => :teg_method%>
                    </li>
                    <li>
                      <%=link_to "Empresas", :controller => :info, :action => :cursos_empresas%>
                    </li>
                    <li>
                      <%=link_to "Contacto", {:controller => :site, :action => :contact_us}, {"data-no-turbolink" => true}%>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
      </div>
    </header>        
  </div>
