
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Modalidad</th>
			<th>Curso</th>
			<th>Nivel</th>
			<th>Fecha de inicio</th>
			<th>Horario</th>
			<th>Precio</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
	<%courses.each do |c|%>
		<tr>
			<td><%=c.mode%></td>
			<td><%=c.coursename%></td>
			<td><%=get_course_level_name(c.course_level_id)%></td>
			<td><%=c.start_date.strftime("%d-%m-%Y")%></td>
			<td><%=get_course_feature(features.where(:course_id => c.id),"first_day")+"-"+get_course_feature(features.where(:course_id => c.id),"first_day_hour")+" / "+get_course_feature(features.where(:course_id => c.id),"second_day")+"-"+get_course_feature(features.where(:course_id => c.id),"second_day_hour")%></td>
			<td><%=number_to_currency(get_course_feature(features.where(:course_id => c.id),"price").to_i, :precision => 0)%></td>
			<td><%=link_to "Comprar", {:controller => "site", :action => "confirm_purchase", :params =>{:course_id => c.id}}, {:class => "button"}%></td>
		</tr>
	<%end%>
	</tbody>
</table>
