<%=form_for @web_user, :url => {:controller => "users", :action => "create"} do |f|%>
	<table>
		<tr>
			<td colspan="2"><b>Datos del Usuario</b></td>
		</tr>
		<tr>
			<td>Nombre</td>
			<td><%=f.text_field :firstname%></td>
		</tr>
		<tr>
			<td>Apellido</td>
			<td><%=f.text_field :lastname%></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><%=f.email_field :email%></td>
		</tr>
		<tr>
			<td>Telefono</td>
			<td><%=f.phone_field :phone%></td>
		</tr>
		<tr>
			<td>Celular</td>
			<td><%=f.phone_field :mobile%></td>
		</tr>
		<tr>
			<td>Direccion</td>
			<td><%=f.text_field :location%></td>
		</tr>
		<tr>
			<td>Género</td>
			<td><%=f.radio_button :gender, "male", :checked => true%>Masculino
			<%=f.radio_button :gender, "female"%></td>	
		</tr>
		<tr>
			<td>Password</td>
			<td><%=f.password_field :password%></td>
		</tr>
		<tr>
			<td>Confirmar Password</td>
			<td><%=f.password_field :password_confirmation%></td>
		</tr>
		<tr>
			<td colspan="2"><%=f.submit "Registrar Usuario", :class => "button"%></td>
		</tr>
	</table>
<%end%>