<div class="extra">
   <div class="main">
      <article class='col_lista_cursos'>
         <ul class='tabs'>
            <li><a href='#' class='active'>Precios desde...</a></li>
         </ul>
         <div class='tabs_cont'>
            <div class='bg'>
               <div class='wrapper'>
                  <font color='white'> <br>
                  <table class="products-table">
                     <tr>
                        <td align="center"></td>
                        <td align="center"><%=get_month_name(@selected_month.to_i-2)%></td>
                        <td align="center"><%=get_month_name(@selected_month.to_i-1)%></td>
                        <td align="center"><%=get_month_name(@selected_month.to_i)%></td>
                        <td align="center"><%=get_month_name(@selected_month.to_i+1)%></td>
                        <td align="center"><%=get_month_name(@selected_month.to_i+2)%></td>
                     </tr>
                     <%@modes.each do |m|%>
                     <%if m["name"] == @selected_mode%>
                        <tr style="background-color: #FFCC00">
                     <%else%>
                        <tr>
                     <%end%>
                        <td><%=m["name"]%></td>
                        <td align="center"><%=link_to m["rate"], :controller => "site", :action => "available_courses", :params => {:mode => m["name"], :date => {:month => @selected_month.to_i-2}}%></td>
                        <td align="center"><%=link_to m["rate"], :controller => "site", :action => "available_courses", :params => {:mode => m["name"], :date => {:month => @selected_month.to_i-1}}%></td>
                        <td align="center" style="background-color: #FFCC00"><%=link_to m["rate"], :controller => "site", :action => "available_courses", :params => {:mode => m["name"], :date => {:month => @selected_month.to_i}}%></td>
                        <td align="center"><%=link_to m["rate"], :controller => "site", :action => "available_courses", :params => {:mode => m["name"], :date => {:month => @selected_month.to_i+1}}%></td>
                        <td align="center"><%=link_to m["rate"], :controller => "site", :action => "available_courses", :params => {:mode => m["name"], :date => {:month => @selected_month.to_i+2}}%></td>
                     </tr>
                     <%end%>
                  </table>
                  <%=link_to "Retroceder", {:controller => "site", :action => "available_courses", :params => {:mode => session[:selected_mode], :date => {:month => (session[:selected_month].to_i-1)}}}, {:class => "button"}%>
                  <%=link_to "Avanzar", {:controller => "site", :action => "available_courses", :params => {:mode => session[:selected_mode], :date => {:month => (session[:selected_month].to_i+1)}}}, {:class => "button"}%>
               </div>
            </div>
         </div>
      </article>
      <article class='col_lista_cursos'>
      <%if current_user.nil?%>
         <%=render :partial => "longbourn_login_form"%>
      <%elsif current_user.test_score.nil?%>
         <div class="extra">
            <div class="main">
               <div class='tabs_cont'>
                  <div class='bg'>
                     <div class='wrapper'>
                        <font color='white'> <br>
                           <p>Para poder ver los cursos disponibles, te invitamos a jugar en nuestro</p>
                           <%=link_to "Test de Diagnóstico", {:controller => "site", :action => "play_tha_game"}, {:class => "button"}%>
                        </font>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      <%else%>
         <%=render :partial => "courses_for_date", :locals => {:courses => @courses_for_date, :features => @course_features}%>
      <%end%>
      </article>
   </div>
</div>