<div class="section">
	<div class="container-fluid">
		<h2>Selección de Cursos - Nivel <%=get_course_level_name(current_user.course_level_id)%></h2>
		<div class="row">
			<div class="col-xs-12 col-sm-offset-4 col-sm-8">
				<div class="col-xs-4 theader first-month">
					<span class="title"><%=l(@current_date, :format => "%B")%></span>
					<span class="explanation"><%=l(@current_date + 1.days, :format => "%d de %b")+" - "+l((@current_date + 1.weeks).end_of_week, :format => "%d de %b")%></span>
				</div>
				<div class="col-xs-4 theader second-month">
					<div class="ribbon-wrapper">
						<div class="price-ribbon ribbon-orange"> - 10%</div>
					</div>

					<span class="title"><%=l(@current_date + 2.weeks, :format => "%B")%></span>
					<span class="explanation"><%=l((@current_date + 2.weeks).beginning_of_week, :format => "%d de %b")+" - "+l((@current_date + 3.weeks).end_of_week, :format => "%d de %b")%></span>
				</div>
				<div class="col-xs-4 theader third-month">
					<div class="ribbon-wrapper">
						<div class="price-ribbon ribbon-red"> - 20%</div>
					</div>
					<span class="title"><%=l(@current_date + 2.weeks, :format => "%B")%></span>
					<span class="explanation"><%=l((@current_date + 4.weeks).beginning_of_week, :format => "%d de %b")+" - "+l((@current_date + 5.weeks).end_of_week, :format => "%d de %b")%></span>
				</div>
			</div>
		</div>
		<%@modes.each do |m|%>
	    <div class="row">
	        <div class="col-xs-12 col-sm-4 course-mode">
	            <%=m["name"]%>
	        </div>
	        <div class="col-xs-12 col-sm-8 course-availability">
                <div class="col-xs-4 col-sm-4 course-description first-month">
                	<%courses_available = available_courses_for_month(@courses,@current_date,m["name"]).to_s%>
                	<%if courses_available.to_i > 0%>
                    	<%=link_to courses_available.to_s+" Cursos", {:controller => :site, :action => :selected_courses_list, :params => {:mode => m["name"], :date => (@current_date).strftime("%Y-%m-%d")}}%>
                    <%else%>
                    	<i class="fa fa-times fa-lg"></i>
                    <%end%>
                </div>
                <div class="col-xs-4 col-sm-4 course-description second-month">
                	<%courses_available = available_courses_for_month(@courses,@current_date + 2.weeks,m["name"]).to_s%>
                	<%if courses_available.to_i > 0%>
                    	<%=link_to courses_available.to_s+" Cursos", {:controller => :site, :action => :selected_courses_list, :params => {:mode => m["name"], :date => (@current_date + 2.weeks).strftime("%Y-%m-%d")}}%>
                    <%else%>
                    	<i class="fa fa-times fa-lg"></i>
                    <%end%>
                </div>
                <div class="col-xs-4 col-sm-4 course-description third-month">
                	<%courses_available = available_courses_for_month(@courses,@current_date + 4.weeks,m["name"]).to_s%>
                	<%if courses_available.to_i > 0%>
                    	<%=link_to courses_available.to_s+" Cursos", {:controller => :site, :action => :selected_courses_list, :params => {:mode => m["name"], :date => (@current_date + 4.weeks).strftime("%Y-%m-%d")}}%>
                    <%else%>
                    	<i class="fa fa-times fa-lg"></i>
                    <%end%>
                </div>
	        </div>
	    </div>
	    <%end%>
	    <div class="row quotation-advise">
	    	<h2>Cotiza con Nosotros!</h2>
	    	<div class="testimonial-nb col-sm-4">
				<div class="author-photo">
					<%=image_tag "profile_pictures/Woman_Call_Center.jpg"%>
				</div>
	    	</div>
	    	<div class="col-sm-8 info">
	    		<p>Llama al 800-800-Longbourn y cotiza con nosotros!</p>
	    		<p>Tambien puedes visitarnos en nuestra sede en Coronel Pereira ASDfasdasd #1231451</p>
	    		<p>O entra <%=link_to "Aqui!", :controller => :site, :action => :organization_signup%> para que nuestros ejecutivos se pongan en contacto contigo.</p>
	    	</div>
	    </div>
	 </div>
</div>