<div class="extra">
	<div class="main">
		<article class='col_lista_cursos'>

		<ul class='tabs'>
			<li><a href='#' class='active'>Resumen del curso</a></li>
		</ul>

		<div class='tabs_cont'>
			<div class='bg'>
				<div class='wrapper'>
					<font color='white'> <br>
						<%=flash[:notice]%>
						<table>
							<tr>
								<td><h1>Datos del Curso</h1></td>
								<td></td>
							</tr>
							<tr>
								<td>Fecha Actual</td>
								<td><%=Date.current%></td>
							</tr>
							<tr>
								<td>Nombre del Curso</td>
								<td><%=@course.coursename%></td>
							</tr>
							<tr>
								<td>Modalidad</td>
								<td><%=@course.mode%></td>
							</tr>
							<tr>
								<td>Tipo de Curso</td>
								<td><%=get_coursetype(@course.course_type_id)%></td>
							</tr>
							<tr>
								<td>Fecha de Inicio</td>
								<td><%=@course.start_date.strftime("%d-%m-%Y")%></td>
							</tr>
							<tr>
								<td>Horario</td>
								<td><%=get_course_feature(@course_features,"first_day")+" "+get_course_feature(@course_features,"first_day_hour")+" - "+get_course_feature(@course_features,"second_day")+" "+get_course_feature(@course_features,"second_day_hour")%></td>
							</tr>
							<tr>
								<td>Precio</td>
								<td><%=number_to_currency(get_course_feature(@course_features,"price").to_i,:precision => 0)%></td>
							</tr>
							<tr>
								<td><h1>Datos del Cliente</h1></td>
								<td></td>
							</tr>
							<tr>
								<td>Contacto</td>
								<td><%=@contact.contact_name%></td>
							</tr>
							<tr>
								<td>Nombre</td>
								<td><%=@primary_contact.firstname+" "+@primary_contact.lastname%></td>
							</tr>
							<tr>
								<td>Rut</td>
								<td><%=@primary_contact.rut%></td>
							</tr>							
							<tr>
								<td>Direccion</td>
								<td><%=@contact.address%></td>
							</tr>
							<tr>
								<td>Teléfono</td>
								<td><%=@primary_contact.phone%></td>
							</tr>
							<tr>
								<td>E-Mail</td>
								<td><%=@primary_contact.email%></td>
							</tr>
							<tr>
								<td><b>Seleccionar Alumno</b></td>
								<td></td>
							</tr>
							<%=form_tag :controller => "site", :action => "register_purchase", :id => "register_purchase_form" do %>
								<%@contact_people.each do |c|%>
									<tr>
										<%if c.is_primary_contact%>
											<td><%=radio_button_tag :selected_student, c.id, true%></td>
										<%else%>
											<td><%=radio_button_tag :selected_student, c.id%></td>
										<%end%>
										<td><%=c.firstname+" "+c.lastname%></td>
										<td><%=link_to "Editar Datos", {:controller => "site", :action => "edit_contact", :params => {:contact_id => c.contact_id, :cp_id => c.id}}%></td>
									</tr>
								<%end%>
								<%=hidden_field_tag :course_id, @course.id%>
								<tr>
									<td></td>
									<td><%=submit_tag "Realizar Compra", :class => "button", :onclick => "$('#register_purchase_form').submit();"%></td>
								</tr>
							<%end%>
							<%=link_to "Registrar Nuevo Alumno", {:controller => "site", :action => "new_contact_person"}, {:class => "button"}%>
						</table>
					</font>
				</div>
			</div>
		</article>
	</div>
</div>
