<div class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1 purchase-confirmation">
				<h2>Datos del Cliente</h2>
				<label>Usuario</label>
				<%=text_field_tag :name, @user.name, :disabled => true, :class => "form-control"%>
				<label>Email</label>
				<%=text_field_tag :email, @user.email, :disabled => true, :class => "form-control"%>
				<label>Direccion</label>
				<%=text_field_tag :location, @user.location, :disabled => true, :class => "form-control"%>
				<label>Telefono de Contacto</label>
				<%=text_field_tag :phone, @user.phone, :disabled => true, :class => "form-control"%>
				<label>Celular de contacto</label>
				<%=text_field_tag :mobile, @user.mobile, :disabled => true, :class => "form-control"%>
				<%=link_to "Editar Datos de Usuario", {:controller => "site", :action => "edit_user"}, {:class => "btn btn-default"}%>
			</div>
			<div class="col-sm-5 purchase-confirmation">
				<h2>Datos del Curso Seleccionado</h2>
				<label>Fecha Actual</label>
				<span class="description"><%=Date.current%></span>

				<label>Nombre del Curso</label>
				<span class="description"><%=@course.coursename%></span>

				<label>Modalidad</label>
				<span class="description"><%=@course.mode%></span>

				<label>Tipo de Curso</label>
				<span class="description"><%=get_coursetype(@course.course_type_id)%></span>

				<label>Fecha de Inicio</label>
				<span class="description"><%=@course.start_date.strftime("%d-%m-%Y")%></span>

				<label>Horario</label>
				<span class="description"><%=get_course_feature(@course_features,"first_day")+" "+get_course_feature(@course_features,"first_day_hour")+" - "+get_course_feature(@course_features,"second_day")+" "+get_course_feature(@course_features,"second_day_hour")%></span>
				<label>Precio</label>
				<span class="description"><%=number_to_currency(price_with_discount(@course,@course_features),:precision => 0)%></span>
				<span class="discount-note">(<b><%=@course.discount_pct%></b> de Descuento.)</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<%=link_to "Continuar Compra", {:controller => "site", :action => "register_purchase"}, {:class => "btn btn-lg btn-block"}%>
			</div>
		</div>
	</div>
</div>
