<div class="extra">
	<div class="main">
			<div class='tabs_cont'>
				<div class='bg'>
					<div class='wrapper'>
						<font color='white'> <br>
							<%=form_tag :controller => "users", :action => "register_user_contact" do%>
								<table>
									<tr>
										<td><b>Datos Personales</b></td>
										<td></td>
									</tr>
									<tr>
										<td>Nombre</td>
										<td><%=text_field_tag :firstname%></td>
									</tr>
									<tr>
										<td>Apellido</td>
										<td><%=text_field_tag :lastname%></td>
									</tr>
									<tr>
										<td>Rut</td>
										<td><%=text_field_tag :rut%></td>
									</tr>
									<tr>
										<td>Genero</td>
										<td><%=radio_button_tag :gender, "Masculino", true%>Masculino
											<%=radio_button_tag :gender, "Femenino"%>Femenino</td>
									</tr>
									<tr>
										<td>Fecha de Nacimiento</td>
										<td><%=date_field_tag :birthday, Date.new(1990,1,1)%></td>
									</tr>
									<tr>
										<td><b>Datos de Contacto</b></td>
										<td></td>
									</tr>
									<tr>
										<td>Email</td>
										<td><%=email_field_tag :email%></td>
									</tr>
									<tr>
										<td>Contraseña Longbourn</td>
										<td><%=password_field_tag :password, nil, :validate => true%></td>
									</tr>
									<tr>
										<td>Confirmación Contraseña</td>
										<td><%=password_field_tag :password_confirmation%></td>
									</tr>
									<tr>
										<td>Ciudad</td>
										<td><%=text_field_tag :city%></td>
									</tr>
									<tr>
										<td>Direccion</td>
										<td><%=text_field_tag :address%></td>
									</tr>
									<tr>
										<td>Telefono Fijo</td>
										<td><%=phone_field_tag :phone%></td>
									</tr>
									<tr>
										<td>Celular</td>
										<td><%=phone_field_tag :mobile%></td>
									</tr>
								</table>
								<%=check_box_tag :extra_contact_person%> El curso es para otra persona
								<table id="student-data" style="display:none;">
									<tr>
										<td><b>Datos del Alumno</b></td>
										<td></td>
									</tr>
									<tr>
										<td>Nombre</td>
										<td><%=text_field_tag :student_firstname%></td>
									</tr>
									<tr>
										<td>Apellido</td>
										<td><%=text_field_tag :student_lastname%></td>
									</tr>
									<tr>
										<td>Email</td>
										<td><%=email_field_tag :student_email%></td>
									</tr>
									<tr>
										<td>Genero</td>
										<td><%=radio_button_tag :student_gender, "Masculino", true%>Masculino
											<%=radio_button_tag :student_gender, "Femenino"%>Femenino</td>
									</tr>
									<tr>
										<td>Rut</td>
										<td><%=text_field_tag :student_rut%></td>
									</tr>
									<tr>
										<td>Fecha de Nacimiento</td>
										<td><%=date_field_tag :student_birthday, Date.new(1990,1,1)%></td>
									</tr>
									<tr>
										<td>Telefono Fijo</td>
										<td><%=phone_field_tag :student_phone%></td>
									</tr>
									<tr>
										<td>Celular</td>
										<td><%=phone_field_tag :studen_mobile%></td>
									</tr>
								</table>
								<%=submit_tag "Enviar Datos"%>
							<%end%>
						</font>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>

<script>
$( "#extra_contact_person" ).change(function() {
	if ($( "#extra_contact_person" ).is(":checked")){
		$( "#student-data" ).show();
	} else {
		$( "#student-data" ).hide();
	};
  });
</script>