<div class="pg-opt">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Contáctanos</h2>
        </div>
    </div>
</div>
</div>

<section class="slice no-padding">
<div id="mapCanvas" class="map-canvas no-margin"></div>
</section>

<section class="slice bg-white">
<div class="w-section inverse">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-title-wr">
                    <h3 class="section-title left"><span>Contáctanos</span></h3>
                </div>
                <p>
                Ponte en contacto con nuestros agentes de ventas para resolver tus dudas y cotizar el curso más adecuado a tus necesidades.
                </p>
                <%if flash[:notice]%>
                    <div class="alert alert-warning">
                        <%=flash[:notice]%>
                    </div>
                <%end%>

                <%if @web_contact.errors.any?%>
                    <div class="alert alert-danger">
                        <h4><%=pluralize(@web_contact.errors.count,"error(es)")%> no permitieron llevar a cabo la operacion</h4>
                        <ul>
                            <%@web_contact.errors.full_messages.each do |msg|%>
                                <li><%= msg %></li>
                            <%end%>
                        </ul>
                    </div>
                <%end%>
                
                <%=form_for :web_contact_form, :url => {:action => :deliver_contact_form}, :class => "form-light mt-20" do |f|%>
                    <div class="form-group">
                        <label>Nombre</label>
                        <%=f.text_field :name, :value => @web_contact.name, :class => "form-control", :placeholder => "Nombre"%>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <%=f.email_field :email, :value => @web_contact.email, :class => "form-control", :placeholder => "Email"%>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Telefono</label>
                                <%=f.phone_field :phone, :value => @web_contact.phone, :class => "form-control", :placeholder => "Número Telefónico"%>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Empresa</label>
                            <%=f.text_field :institution, :value => @web_contact.institution, :class => "form-control", :placeholder => "Empresa"%>
                        </div>
                        <div class="col-md-6">
                            <label>Comuna</label>
                            <%=f.text_field :location, :value => @web_contact.location, :class => "form-control", :placeholder => "Comuna"%>
                        </div>
                    </div>
                    <%=f.hidden_field :subject, :value => "Contacto Web", :class => "form-control", :placeholder => "Título"%>
                    <div class="form-group">
                        <label>Servicio Gratuito que me interesa:</label>
                        <%=f.select :free_service, options_for_select([
                            ["Prueba de Diagnóstico"], 
                            #["Ensayo de Test Internacional"], 
                            ["Ninguno"]], 
                            @web_contact.free_service), {}, {:class => "form-control"}%>
                    </div>
                    <div class="form-group">
                        <label>Programa de Inglés que me interesa</label>
                        <%=f.select :paid_service, options_for_select([
                            ["Longbourn Executive: Cursos en tu Oficina"], 
                            ["Longbourn Institute: Cursos en los mejores horarios"], 
                            ["Longbourn StartUp: Cursos a los mejores precios"],
                            ["Preparación TOEFL"],
                            #["Preparación TOEIC"],
                            #["Preparacion IELTS"],
                            ["Ninguno"]], 
                            @web_contact.paid_service), {}, {:class => "form-control"}%>
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <%=f.text_area :msg, :value => @web_contact.msg, :class => "form-control", :placeholder => "Escribe tu mensaje aquí.", :style => "height: 100px;"%>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="reset" class="btn btn-light">Borrar</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-base btn-icon btn-icon-right btn-fly pull-right">
                                <span>Enviar Mensaje</span>
                            </button>
                        </div>
                    </div>
                <%end%>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Información de Contacto</span></h3>
                        </div>
                        <div class="contact-info">
                            <h5><i class="fa fa-map-marker"></i> Dirección</h5>
                            <p>Coronel Pereira 72, Piso 11, Las Condes</p>
                            
                            <h5><i class="fa fa-envelope"></i> Email</h5>
                            <p>contacto@longbourn.cl</p>
                            
                            <h5><i class="fa fa-phone"></i> Contacto - Cursos en Sede</h5>
                            <p>+56 2 2378 7720</p>
                            <h5><i class="fa fa-phone"></i> Contacto - Cursos In Office</h5>
                            <p>+56 2 2378 7755</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Atención</span></h3>
                        </div>
                        <div class="contact-info">
                            <h5><i class="fa fa-check"></i> Lunes - Viernes</h5>
                            <p>8:30 AM - 20:30 PM</p>
                            
                            <h5><i class="fa fa-check"></i> Sábado</h5>
                            <p>08:30 AM - 12:00 PM</p>
                            
                            <h5><i class="fa fa-times"></i> Domingo</h5>
                            <p>Cerrado</p>
                        </div>
                    </div>
                </div>

                <div class="section-title-wr">
                    <h3 class="section-title left"><span>Síguenos en las Redes Sociales</span></h3>
                </div>
                <div class="social-media">
                    <a href="#"><i class="fa fa-facebook facebook"></i></a>
                    <a href="#"><i class="fa fa-google-plus google"></i></a>
                    <a href="#"><i class="fa fa-twitter twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<script type="text/javascript">

$(document).ready(function() {
  var map;
  var myLatlng = new google.maps.LatLng(-33.412876, -70.579246);
  var mapOptions = {
    zoom: 16,
    scrollwheel: false,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById('mapCanvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      animation: google.maps.Animation.DROP,
      title: 'Longbourn'
  });
  
  var contentString = '<div class="info-window-content"><h2>Longbourn!</h2>'+
                      '<h3>Cursos de Ingles para Profesionales y Ejecutivos</h3>'+
                      '<p>Coronel Pereira 72, Piso 11, Las Condes</p></div>';
                      
  var infowindow = new google.maps.InfoWindow({
      content: contentString
  });
  
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
  });
});

</script>