<div class="pg-opt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Contáctanos</h2>
            </div>
        </div>
    </div>
</div>

<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Las Ejecutivas de Longbourn responderán todas tus consultas</span>
                    <small>Te presentamos los pasos a seguir para iniciar tu Curso de Inglés Longbourn</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="icon-block icon-block-1 bordered-icon-block" style="height: 140px;">
                        <div class="icon-block-item">
                            <%=image_tag "service-icon/one-circle.png", :class => "img-responsive"%>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="title">Prueba de Diagnóstico</h4>
                            <p>Identifica tu nivel de Inglés y descubre tu ruta a seguir.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-block icon-block-1 bordered-icon-block" style="height: 140px;">
                        <div class="icon-block-item">
                            <%=image_tag "service-icon/two-circle.png", :class => "img-responsive"%>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="title">Determina tu Objetivo</h4>
                            <p>Define tus metas y determina los objetivos que quieres lograr con nuestro programa de aprendizaje</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-block icon-block-1 bordered-icon-block" style="height: 140px;">
                        <div class="icon-block-item">
                            <%=image_tag "service-icon/three-circle.svg", :class => "img-responsive"%>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="title">Propuesta Final</h4>
                            <p>Cotización y propuesta final.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice slice-lg bg-image" id="contact-agent">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6">                   
                    <div class="wp-block default user-form user-form-alpha no-margin">
                        <div class="form-header">
                            <h2>Ponte en Contacto con Nuestras Ejecutivas</h2>
                        </div>
                        <div class="form-body">
                        <p>
                        Ponte en contacto con nuestros agentes de ventas para resolver tus dudas y cotizar el curso más adecuado a tus necesidades.
                        </p>
                        <%if flash[:notice]%>
                            <div class="alert alert-warning">
                                <%=flash[:notice]%>
                            </div>
                        <%end%>
                        
                        <%if @web_contact.errors.any?%>
                            <div class="alert alert-danger">
                                <h4><%=pluralize(@web_contact.errors.count,"error(es)")%> no permitieron llevar a cabo la operacion</h4>
                                <ul>
                                    <%@web_contact.errors.full_messages.each do |msg|%>
                                        <li><%= msg %></li>
                                    <%end%>
                                </ul>
                            </div>
                        <%end%>

                        <%=form_for :web_contact_form, :url => {:action => :deliver_sales_contact_form}, :class => "form-light mt-20" do |f|%>
                            <%=f.hidden_field :previous_action, :value => action_name%>
                            <div class="form-group">
                                <label>Nombre</label>
                                <%=f.text_field :name, :value => @web_contact.name, :class => "form-control", :placeholder => "Nombre"%>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <%=f.email_field :email, :value => @web_contact.email, :class => "form-control", :placeholder => "Email"%>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Telefono</label>
                                        <%=f.phone_field :phone, :value => @web_contact.phone, :class => "form-control", :placeholder => "Número Telefónico"%>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Empresa</label>
                                    <%=f.text_field :institution, :value => @web_contact.institution, :class => "form-control", :placeholder => "Empresa"%>
                                </div>
                                <div class="col-md-6">
                                    <label>Comuna</label>
                                    <%=f.text_field :location, :value => @web_contact.location, :class => "form-control", :placeholder => "Comuna"%>
                                </div>
                            </div>
                            <%=f.hidden_field :subject, :value => "Contacto Web", :class => "form-control", :placeholder => "Título"%>
                            <div class="form-group">
                                <label>Servicio Gratuito que me interesa:</label>
                                <%=f.select :free_service, options_for_select([
                                    ["Prueba de Diagnóstico"], 
                                    #["Ensayo de Test Internacional"], 
                                    ["Ninguno"]], 
                                    @web_contact.free_service), {}, {:class => "form-control"}%>
                            </div>
                            <div class="form-group">
                                <label>Programa de Inglés que me interesa</label>
                                <%=f.select :paid_service, options_for_select([
                                    ["Longbourn Executive: Cursos en tu Oficina"], 
                                    ["Longbourn Institute: Cursos en los mejores horarios"], 
                                    ["Longbourn StartUp: Cursos a los mejores precios"],
                                    ["Preparación TOEFL"],
                                    #["Preparación TOEIC"],
                                    #["Preparacion IELTS"],
                                    ["Ninguno"]], 
                                    @web_contact.paid_service), {}, {:class => "form-control"}%>
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                <%=f.text_area :msg, :value => @web_contact.msg, :class => "form-control", :placeholder => "Escribe tu mensaje aquí.", :style => "height: 100px;"%>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="reset" class="btn btn-light">Borrar</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-base btn-icon btn-icon-right btn-fly pull-right">
                                        <span>Enviar Mensaje</span>
                                    </button>
                                </div>
                            </div>
                        <%end%>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
