<section id="slider-wrapper" class="layer-slider-wrapper layer-slider-dynamic">
    <div id="layerslider" class="main-video-wrapper"> 
        <!-- slide background video-->
        <%=video_tag "vids/main_vid.webm", "vids/main_vid.mp4", :autoplay => true ,:loop => true, :muted => true, :poster => "backgrounds/vid-background.png", :id => "main-bgvid"%>
        <div id="main-video-titles">
	        <!-- Left Text -->
	       <h3 class="ls-l title c-white text-wrapped text-uppercase text-center strong">
	            Cursos de Inglés para <b>Profesionales</b> y <b>Ejecutivos</b>
	        </h3>

	    </div> 
        <div class="row" id="channels-row">
            <div class="col-sm-12 channels-title">
                <h3 class="ls-l title c-white text-wrapped text-uppercase text-center strong">
                    <b>¿Qué Necesitas?</b>
                </h3>
            </div>
            <div class="col-sm-3 channel-block">
                <%=link_to longbourn_executive_path, :class => "btn btn-lg btn-block btn-dark" do%>
                    <h3>Longbourn Executive</h3>
                    <span class="subtitle">Inglés en tu Oficina</span>
                <%end%>
            </div>
            
            <div class="col-sm-3 channel-block">
                <%=link_to longbourn_institute_path, :class => "btn btn-lg btn-block btn-dark" do%>
                    <h3>Longbourn Institute</h3>
                    <span class="subtitle">Inglés en los Mejores Horarios</span>
                <%end%>
            </div>
            
            <div class="col-sm-3 channel-block">
                <%=link_to longbourn_startup_path, :class => "btn btn-lg btn-block btn-dark" do%>
                    <h3>Longbourn StartUp</h3>
                    <span class="subtitle">Inglés en los Mejores Precios</span>
                <%end%>
            </div>
            <div class="col-sm-3 channel-block">
                <%=link_to cursos_internacionales_path, :class => "btn btn-lg btn-block btn-dark" do%>
                    <h3>Tests Internacionales</h3>
                    <span class="subtitle">TOEFL - TOEIC - IELTS</span>
                <%end%>
            </div>
        </div>
    </div>
</section>


<!-- MAIN CONTENT -->
<section class="slice no-padding">
    <div class="wp-section">
        <div class="row-fluid">
            <div class="col-md-3 wp-block no-space arrow-right base no-margin">
                <div class="wp-block-body">
                    <div class="img-icon">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <h1>Metodología TEG</h1>
                    <p class="text-center">
                    La Metodología TEG desarrolla simultáneamente, de forma diferente, dinámica y entretenida, las 4 habilidades del inglés: leer, escribir, escuchar y hablar.
                    </p>
                </div>
            </div>
            <div class="col-md-3 wp-block no-space arrow-right light no-margin">
                <div class="wp-block-body">
                    <div class="img-icon">
                        <i class="fa fa-institution"></i>
                    </div>
                    <h1>Nuestros Profesores</h1>
                    <p class="text-center">
                    Nuestros profesores son titulados de las mejores Universidades y son capacitados en Longbourn, entregándoles las herramientas para que realicen clases excelentes.
                    </p>
                </div>
            </div>
            <div class="col-md-3 wp-block no-space arrow-right dark no-margin">
                <div class="wp-block-body">
                    <div class="img-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <h1>Para Profesionales</h1>
                    <p class="text-center">
                    Diseñamos soluciones para facilitar tu experiencia estudiando Inglés. En Longbourn podrás compartir e intercambiar ideas con Profesionales con tus mismos objetivos.
                    </p>
                </div>
            </div>
            <div class="col-md-3 wp-block no-space base no-margin">
                <div class="wp-block-body">
                    <div class="img-icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <h1>Localización</h1>
                    <p class="text-center">
                    Sabemos que tu tiempo y recursos son valiosos. Puedes acceder a nuestros Cursos de Inglés en tu Oficina o en Longbourn Las Condes, a pasos del Metro Escuela Militar
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Our Clients -->
<section class="slice bg-white">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left"><span>Nuestros Clientes</span></h3>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="client">
                        <a href="#">
                            <%=image_tag "logos/canon.png"%>
                        </a>
                    </div>
                </div>
                 <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="client">
                        <a href="#">
                            <%=image_tag "logos/cisco.png"%>
                        </a>
                    </div>
                </div>
                 <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="client">
                        <a href="#">
                            <%=image_tag "logos/dell.png"%>
                        </a>
                    </div>
                </div>
                 <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="client">
                        <a href="#">
                            <%=image_tag "logos/ea.png"%>
                        </a>
                    </div>
                </div>
                 <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="client">
                        <a href="#">
                            <%=image_tag "logos/ebay.png"%>
                        </a>
                    </div>
                </div>
                 <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="client">
                        <a href="#">
                            <%=image_tag "logos/facebook.png"%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
