<!-- Homepage Slider -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 banner-block executive">
			<div class="banner-block-button">
				<%=link_to "Longbourn Executive", "/longbourn-executive", {:class => "banner-block-btn"}%>
			</div>
		</div>
		<div class="col-sm-3 banner-block startup">
			<div class="banner-block-button">
				<%=link_to "Longbourn StartUp", "/longbourn-startup", {:class => "banner-block-btn"}%>
			</div>
		</div>
		<div class="col-sm-3 banner-block institute">
			<div class="banner-block-button">
				<%=link_to "Longbourn Institute", "/longbourn-institute", {:class => "banner-block-btn"}%>
			</div>
		</div>
		<div class="col-sm-3 banner-block international">
			<div class="banner-block-button">
				<%=link_to "Cursos Internacionales", "/cursos-internacionales", {:class => "banner-block-btn"}%>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container-fluid">
		<h2 style="text-align: center;">The Longbourn Experience</h2>
		<div class="col-sm-12">
			<ul class="timeline">
				<li>
					<div class="timeline-badge"><i class="fa fa-chevron-circle-down"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
						  <h4 class="timeline-title">Define tus Metas</h4>
						  <p><small class="text-muted"><i class="fa fa-trophy"></i> ¿Qué quieres lograr con Longbourn?</small></p>
						</div>
						<div class="timeline-body">
						  <p>Selecciona un objetivo a lograr con <strong>Longbourn Institute</strong>.</p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
					<div class="timeline-badge"><i class="fa fa-chevron-circle-down"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
						  <h4 class="timeline-title">Descubre tu Nivel</h4>
						  <p><small class="text-muted"><i class="fa fa-gamepad"></i> Quiz de diagnostico Longbourn</small></p>
						</div>
						<div class="timeline-body">
						  <p>Diviertete con nuestro entretenido <strong>Quiz de Diagnóstico</strong> y descubre tu ruta a seguir en Longbourn Institute</p>
						</div>
					</div>
				</li>
				<li>
					<div class="timeline-badge"><i class="fa fa-chevron-circle-down"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
						  <h4 class="timeline-title">Cotiza tu Curso</h4>
						  <p><small class="text-muted"><i class="fa fa-university"></i> Cursos de Longbourn</small></p>
						</div>
						<div class="timeline-body">
						  <p>Selecciona uno de los cursos de <strong>Longbourn Institute</strong> en la modalidad y fecha que más te acomode.</p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
					<div class="timeline-badge"><i class="fa fa-chevron-circle-right"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
						  <h4 class="timeline-title">Vive la Experiencia Longbourn!</h4>
						  <p><small class="text-muted"><i class="fa fa-gamepad"></i> Cursos a la Medida</small></p>
						</div>
						<div class="timeline-body">
						  <p>Vive la <strong>Experiencia Longbourn</strong> en nuestras salas y con nuestros profesores.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- Call to Action Bar -->
<div class="section section-white">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="calltoaction-wrapper">
					<h3>Juega a nuestro Juego y descubre tu nivel de Inglés!</h3> <%=link_to "Jugar", {:controller => "site", :action => "play_tha_game"}, {:class => "btn btn-lg  btn-grey"}%>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Call to Action Bar -->

<!-- Testimonials -->
<div class="section">
	<div class="container-fluid">
		<h2 style="text-align:center;">Why Longbourn</h2>
		<div class="row">
			<!-- Testimonial -->
			<div class="testimonial-nb col-md-6">
				<!-- Author Photo -->
				<div class="author-photo">
					<p class="circle-highlight"><i class="fa fa-star fa-lg"></i></p>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>Cursos de Inglés de Calidad</h4>
						<!-- Quote -->
						<p class="quote">
                            Longbourn ofrece la mejor calidad en la enseñanza del idioma. Contamos con el uso exclusivo del TEG Method y sólo contratamos profesores titulados de las mejores Universidades, a quienes capacitamos constantemente.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
            <!-- End Testimonial -->
            <div class="testimonial-nb col-md-6">
				<div class="author-photo">
					<p class="circle-highlight"><i class="fa fa-suitcase fa-lg"></i></p>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>Facilitamos tu Experiencia</h4>
						<p class="quote">
                            Longbourn sabe que tu tiempo y recursos son valiosos. Las prioridades de cada tipo de Profesional son diferentes, por lo que diseñamos múltiples soluciones para facilitar tu experiencia estudiando Inglés.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="testimonial-nb col-md-6">
				<div class="author-photo">
					<p class="circle-highlight"><i class="fa fa-map-marker fa-lg"></i></p>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>En tu Oficina o en Longbourn Las Condes</h4>
						<p class="quote">
                            Ofrecemos una alta gama horarios en Longbourn Las Condes; con el Metro Escuela Militar a 3 cuadras y estacionamiento muy cercano.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
			<div class="testimonial-nb col-md-6">
				<div class="author-photo">
					<p class="circle-highlight"><i class="fa fa-thumbs-o-up fa-lg"></i></p>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>Servicio Confiable</h4>
						<p class="quote">
                            El equipo docente Longbourn está apoyado por nuestro equipo de ingeniería y backoffice. Estamos atentos para solucionar cualquier contingencia. Siempre tendremos profesores reemplazantes disponibles en caso de imprevistos.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
		</div>
	</div>
</div>
<!-- End Testimonials -->

<!-- Our Clients -->
<div class="section">
	<div class="container-fluid">
		<h2>Our Clients</h2>
		<div class="clients-logo-wrapper text-center row">
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/canon.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/cisco.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/dell.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/ea.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/ebay.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/facebook.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/google.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/hp.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/microsoft.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/mysql.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/sony.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/yahoo.png"%></a></div>
		</div>
	</div>
</div>
<!-- End Our Clients -->
