<!-- Homepage Slider -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 banner-block executive">
			<div class="banner-block-button">
				<%=link_to "Longbourn Executive", "/longbourn-executive", {:class => "banner-block-btn"}%>
			</div>
		</div>
		<div class="col-sm-3 banner-block institute">
			<div class="banner-block-button">
				<%=link_to "Longbourn Institute", "/longbourn-institute", {:class => "banner-block-btn"}%>
			</div>
		</div>
		<div class="col-sm-3 banner-block startup">
			<div class="banner-block-button">
				<%=link_to "Longbourn StartUp", "/longbourn-startup", {:class => "banner-block-btn"}%>
			</div>
		</div>
		<div class="col-sm-3 banner-block international">
			<div class="banner-block-button">
				<%=link_to "Cursos Internacionales", "/cursos-internacionales", {:class => "banner-block-btn"}%>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container-fluid">
		<h2 style="text-align: center;">Longbourn</h2>
		<div class="col-xs-6 col-xs-offset-3">
			<iframe width="100%" height="315" src="//www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>

<div class="section">
	<div class="container-fluid">
		<h2 style="text-align: center;">¿Por Que Longbourn?</h2>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1">
				<div class="portfolio-item">
					<div class="portfolio-image">
						<%=image_tag "site-pics/testing.jpg", :size => "450x210"%>
					</div>
					<div class="portfolio-info">
						<ul>
							<li class="portfolio-project-name">Metodología TEG</li>
							<li>La Metodología TEG desarrolla simultáneamente, de forma diferente, dinámica y entretenida, las 4 habilidades del inglés: leer, escribir, escuchar y hablar.</li>
							<li class="read-more"><a href="#" class="btn">Leer Más</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-5 col-xs-offset-1">
				<div class="portfolio-item">
					<div class="portfolio-image">
						<%=image_tag "site-pics/teacher_pic.jpg", :size => "450x210"%>
					</div>
					<div class="portfolio-info">
						<ul>
							<li class="portfolio-project-name">Nuestros Profesores</li>
							<li>Nuestros profesores son titulados de las mejores Universidades y son capacitados en Longbourn, entregándoles las herramientas para que realicen clases excelentes.</li>
							<li class="read-more"><a href="page-portfolio-item.html" class="btn">Leer Más</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1">
				<div class="portfolio-item">
					<div class="portfolio-image">
						<%=image_tag "site-pics/health-and-laws.jpg", :size => "450x210"%>
					</div>
					<div class="portfolio-info">
						<ul>
							<li class="portfolio-project-name">Especialistas en Profesionales y Ejecutivos</li>
							<li>Diseñamos soluciones para facilitar tu experiencia estudiando Inglés. En Longbourn también podrás compartir e intercambiar ideas con otros Profesionales que buscan tus mismos objetivos.</li>
							<li class="read-more"><a href="page-portfolio-item.html" class="btn">Leer Más</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-5 col-xs-offset-1">
				<div class="portfolio-item">
					<div class="portfolio-image">
						<%=image_tag "site-pics/office-meeting.jpg", :size => "450x210"%>
					</div>
					<div class="portfolio-info">
						<ul>
							<li class="portfolio-project-name">En tu Oficina o en Longbourn Las Condes</li>
							<li>Sabemos que tu tiempo y recursos son valiosos. Puedes acceder a nuestros Cursos de Inglés en tu Oficina o en Longbourn Las Condes, a pasos del Metro Escuela Militar.</li>
							<li class="read-more"><a href="page-portfolio-item.html" class="btn">Leer Más</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Call to Action Bar -->
<div class="section section-white">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="calltoaction-wrapper">
					<h3>Juega a nuestro Juego y descubre tu nivel de Inglés!</h3> <%=link_to "Jugar", {:controller => "site", :action => "play_tha_game"}, {:class => "btn btn-lg  btn-grey"}%>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Call to Action Bar -->

<!-- Testimonials -->
<div class="section">
	<div class="container-fluid">
		<h2 style="text-align:center;">Why Longbourn</h2>
		<div class="row">
			<!-- Testimonial -->
			<div class="testimonial-nb col-md-6">
				<!-- Author Photo -->
				<div class="author-photo">
					<p class="circle-highlight"><i class="fa fa-star fa-lg"></i></p>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>Cursos de Inglés de Calidad</h4>
						<!-- Quote -->
						<p class="quote">
                            Longbourn ofrece la mejor calidad en la enseñanza del idioma. Contamos con el uso exclusivo del TEG Method y sólo contratamos profesores titulados de las mejores Universidades, a quienes capacitamos constantemente.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
            <!-- End Testimonial -->
            <div class="testimonial-nb col-md-6">
				<div class="author-photo">
					<p class="circle-highlight"><i class="fa fa-suitcase fa-lg"></i></p>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>Facilitamos tu Experiencia</h4>
						<p class="quote">
                            Longbourn sabe que tu tiempo y recursos son valiosos. Las prioridades de cada tipo de Profesional son diferentes, por lo que diseñamos múltiples soluciones para facilitar tu experiencia estudiando Inglés.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="testimonial-nb col-md-6">
				<div class="author-photo">
					<p class="circle-highlight"><i class="fa fa-map-marker fa-lg"></i></p>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>En tu Oficina o en Longbourn Las Condes</h4>
						<p class="quote">
                            Ofrecemos una alta gama horarios en Longbourn Las Condes; con el Metro Escuela Militar a 3 cuadras y estacionamiento muy cercano.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
			<div class="testimonial-nb col-md-6">
				<div class="author-photo">
					<p class="circle-highlight"><i class="fa fa-thumbs-o-up fa-lg"></i></p>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>Servicio Confiable</h4>
						<p class="quote">
                            El equipo docente Longbourn está apoyado por nuestro equipo de ingeniería y backoffice. Estamos atentos para solucionar cualquier contingencia. Siempre tendremos profesores reemplazantes disponibles en caso de imprevistos.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
		</div>
	</div>
</div>
<!-- End Testimonials -->

<!-- Our Clients -->
<div class="section">
	<div class="container-fluid">
		<h2>Our Clients</h2>
		<div class="clients-logo-wrapper text-center row">
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/canon.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/cisco.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/dell.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/ea.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/ebay.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/facebook.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/google.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/hp.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/microsoft.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/mysql.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/sony.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/yahoo.png"%></a></div>
		</div>
	</div>
</div>
<!-- End Our Clients -->
