
<!-- Homepage Slider -->
<div class="homepage-slider">
	<div id="sequence">
		<ul class="sequence-canvas">
			<!-- Slide 1 -->
			<li class="bg4">
				<!-- Slide Title -->
				<h2 class="title">Cursos de Ingles</h2>
				<!-- Slide Text -->
				<h3 class="subtitle">Tenemos los cursos de inglés que son las ensación del bloque.</h3>
				<!-- Slide Image -->
			</li>
			<!-- End Slide 1 -->
			<!-- Slide 2 -->
			<li class="bg3">
				<!-- Slide Title -->
				<h2 class="title">Profesores</h2>
				<!-- Slide Text -->
				<h3 class="subtitle">Nuestros profesores hablan más mejor que nadien!</h3>
				<!-- Slide Image -->
			</li>
			<!-- End Slide 2 -->
			<!-- Slide 3 -->
			<li class="bg1">
				<!-- Slide Title -->
				<h2 class="title">Disponibilidad</h2>
				<!-- Slide Text -->
				<h3 class="subtitle">Le tenimos de todos los horarios para que escoja caserito.</h3>
				<!-- Slide Image -->
				<%=image_tag "slider_placeholder3.png", :class => "slide-img"%>
			</li>
			<!-- End Slide 3 -->
		</ul>
		<div class="sequence-pagination-wrapper">
			<ul class="sequence-pagination">
				<li>1</li>
				<li>2</li>
				<li>3</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Homepage Slider -->
<!-- Press Coverage -->
<div class="section">
	<div class="container-fluid">
		<h2 style="text-align: center;">The Longbourn Experience</h2>
		<div class="row features-selector">
			<div class="col-md-6">
				<div class="service-wrapper">
					<%=form_tag :controller => "site", :action => "available_courses" do%>
					<table class="course-selection-table">
						<tr>
							<th>Ubicación</th>
							<td>
								<%=radio_button_tag :modalidad_lugar, "sede", true%>Longbourn Escuela Militar<br>
								<%=radio_button_tag :modalidad_lugar, "oficina"%>En tu propia oficina</td>
						</tr>
						<tr>
							<th>Modalidad</th>
							<%counter = 1%>
							<td><%@modes.each do |m|%>
									<%if counter == 1%>
										<%=radio_button_tag :mode, m["name"], true%><%=m["name"]%><br>
									<%else%>
										<%=radio_button_tag :mode, m["name"]%><%=m["name"]%><br>
									<%end%>
									<%counter+=1%>
								<%end%>
							</td>
						</tr>
						<tr>
							<th>Tipo de curso</th>
							<td>
							<%@types.each do |t|%>
								<%if t.id == 1%>
									<%=radio_button_tag :tipo_curso, t.id, true%><%=t.typename%><br>
								<%else%>
									<%=radio_button_tag :tipo_curso, t.id%><%=t.typename%><br>
								<%end%>
							<%end%>
							</td>
						</tr> 
						<tr>
							<th>Mes de Inicio</th> 
							<td><%=select_month(Date.today,use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre))%></td>
						</tr>
						<tr>
							<td></td>
							<td><%=submit_tag "Buscar Cursos", :class => "btn pull-right"%></td>
						</tr>
					</table>
					<%end%>
				</div>
			</div>
			<div class="col-md-6 vcenter">
				<div class="in-press">
					<a href="#">No es simplemente aprender inglés. Es aprender a expresar lo correcto, de la forma correcta, a la persona correcta, en el momento correcto, en inglés</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Press Coverage -->

<!-- Services -->
<div class="section">
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-3">
    			<div class="service-wrapper">
        			<%=image_tag "service-icon/diamond.png"%>
        			<h3>Longbourn Executive</h3>
        			<p>Cursos de Inglés para Ejecutivos.</p><br>
        			<a href="#" class="btn">Read more</a>
        		</div>
    		</div>
    		<div class="col-md-3">
    			<div class="service-wrapper">
        			<%=image_tag "service-icon/chat.png"%>
        			<h3>Longbourn Institut</h3>
        			<p>Cursos de Inglés para Profesionales.</p><br>
        			<a href="#" class="btn">Read more</a>
        		</div>
    		</div>
    		<div class="col-md-3">
    			<div class="service-wrapper">
    				<%=image_tag "service-icon/ruler.png"%>
        			<h3>Longbourn Startup</h3>
        			<p>Cursos de Inglés para Emprendedores y Universitarios.</p>
        			<a href="#" class="btn">Read more</a>
        		</div>
    		</div>
    		<div class="col-md-3">
    			<div class="service-wrapper">
    				<%=image_tag "service-icon/box.png"%>
    				<h3>Preparacion para Pruebas Internacionales.</h3>
    				<p>TOEFL, IELTS, TOEIC.</p><br>
    				<a href="#" class="btn">Read More</a>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<!-- End Services -->


<!-- Call to Action Bar -->
<div class="section section-white">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="calltoaction-wrapper">
					<h3>Juega a nuestro Juego y descubre tu nivel de Inglés!</h3> <%=link_to "Jugar", {:controller => "site", :action => "play_tha_game"}, {:class => "btn btn-grey"}%>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Call to Action Bar -->

<!-- Testimonials -->
<div class="section">
	<div class="container-fluid">
		<h2>Por Qué Longbourn?</h2>
		<div class="row">
			<!-- Testimonial -->
			<div class="testimonial col-md-6">
				<!-- Author Photo -->
				<div class="author-photo">
					<p class="circle-highlight"><i class="fa fa-star fa-lg"></i></p>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>Cursos de Inglés de Calidad</h4>
						<!-- Quote -->
						<p class="quote">
                            Longbourn ofrece la mejor calidad en la enseñanza del idioma. Contamos con el uso exclusivo del TEG Method y sólo contratamos profesores titulados de las mejores Universidades, a quienes capacitamos constantemente.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
            <!-- End Testimonial -->
            <div class="testimonial col-md-6">
				<div class="author-photo">
					<p class="circle-highlight"><i class="fa fa-group fa-lg"></i></p>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>Facilitamos tu Experiencia</h4>
						<p class="quote">
                            Longbourn sabe que tu tiempo y recursos son valiosos. Las prioridades de cada tipo de Profesional son diferentes, por lo que diseñamos múltiples soluciones para facilitar tu experiencia estudiando Inglés.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="testimonial col-md-6">
				<div class="author-photo">
					<p class="circle-highlight"><i class="fa fa-map-marker fa-lg"></i></p>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>En tu Oficina o en Longbourn Las Condes</h4>
						<p class="quote">
                            Ofrecemos una alta gama horarios en Longbourn Las Condes; con el Metro Escuela Militar a 3 cuadras y estacionamiento muy cercano.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
			<div class="testimonial col-md-6">
				<div class="author-photo">
					<p class="circle-highlight"><i class="fa fa-gears fa-lg"></i></p>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>Servicio Confiable</h4>
						<p class="quote">
                            El equipo docente Longbourn está apoyado por nuestro equipo de ingeniería y backoffice. Estamos atentos para solucionar cualquier contingencia. Siempre tendremos profesores reemplazantes disponibles en caso de imprevistos.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
		</div>
	</div>
</div>
<!-- End Testimonials -->

<!-- Pricing Table -->
<div class="section">
	<div class="container-fluid">
		<h2>Nuestros Cursos</h2>
    	<div class="row">
    		<!-- Pricing Plans Wrapper -->
    		<div class="pricing-wrapper col-md-12 col-md-offset-1">
    			<div class="pricing-plan">
    				<div class="ribbon-wrapper">
    					<div class="price-ribbon ribbon-green">Nuevo!</div>
    				</div>
    				<h3 class="pricing-plan-title">Cursos Individuales</h3>
    				<p class="pricing-plan-price">400.000</p>
    				<ul class="pricing-plan-features">
    					<li><strong>Ubicación</strong> Longbourn Institute</li>
    					<li><strong>Estudiantes</strong> 1</li>
    					<li><strong>Flexibilidad</strong> Mucha</li>
    				</ul>
    				<%=link_to "Me Interesa", {:controller => "site", :action => "course_list", :params => {:mode => "single"}}, :class => "btn"%>
    			</div>
    			<div class="pricing-plan pricing-plan-promote">
    				<div class="ribbon-wrapper">
    					<div class="price-ribbon ribbon-red">Contactanos!</div>
    				</div>
    				<h3 class="pricing-plan-title">Cursos en tu Oficina</h3>
    				<p class="pricing-plan-price">150.000</p>
    				<ul class="pricing-plan-features">
    					<li><strong>Ubicación</strong> Oficinas del Cliente</li>
    					<li><strong>Estudiantes</strong> - </li>
    					<li><strong>Flexibilidad</strong> Mas o Menos</li>
    				</ul>
    				<%=link_to "Me Interesa", {:controller => "site", :action => "course_list", :params => {:mode => "office"}}, :class => "btn"%>
    			</div>
    			<div class="pricing-plan">
    				<div class="ribbon-wrapper">
    					<div class="price-ribbon ribbon-green">Nuevo!</div>
    				</div>
    				<h3 class="pricing-plan-title">Cursos Grupales</h3>
    				<p class="pricing-plan-price">200.000</p>
    				<ul class="pricing-plan-features">
    					<li><strong>Ubicación</strong> Longbourn Institute</li>
    					<li><strong>Estudiantes</strong> 10</li>
    					<li><strong>Flexibilidad</strong> Poca</li>
    				</ul>
    				<%=link_to "Me Interesa", {:controller => "site", :action => "course_list", :params => {:mode => "group"}}, :class => "btn"%>
    			</div>
    		</div>
    		<!-- End Pricing Plans Wrapper -->
    	</div>
	</div>
</div>
<!-- End Pricing Table -->
<!-- Our Clients -->
<div class="section">
	<div class="container-fluid">
		<h2>Our Clients</h2>
		<div class="clients-logo-wrapper text-center row">
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/canon.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/cisco.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/dell.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/ea.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/ebay.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/facebook.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/google.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/hp.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/microsoft.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/mysql.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/sony.png"%></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><%=image_tag "logos/yahoo.png"%></a></div>
		</div>
	</div>
</div>
<!-- End Our Clients -->