<div class="extra">
	<div class="main">
			<div class='tabs_cont'>
				<div class='bg'>
					<div class='wrapper'>
						<font color='white'> <br>
							<%=form_for @lead, :url => {:controller => "users", :action => "register_lead"} do |f|%>
								<table>
									<tr>
										<td><b>Datos Generales</b></td>
										<td></td>
									</tr>
									<tr>
										<%=f.hidden_field :lead_source, :value => "Web Longbourn"%>
										<td>Organizacion</td>
										<td><%=f.text_field :company%></td>
									</tr>
									<tr>
										<td>Nombre</td>
										<td><%=f.text_field :firstname%></td>
									</tr>
									<tr>
										<td>Apellido</td>
										<td><%=f.text_field :lastname%></td>
									</tr>
									<tr>
										<td>Genero</td>
										<td><%=f.radio_button :gender, "Masculino", :checked => true%>Masculino
											<%=f.radio_button :gender, "Femenino"%>Femenino</td>
									</tr>
									<tr>
										<td>Email</td>
										<td><%=f.email_field :email%></td>
									</tr>
									<tr>
										<td>Cargo</td>
										<td><%=f.text_field :title%></td>
									</tr>
									<tr>
										<td>Telefono de Contacto</td>
										<td><%=f.phone_field :phone%></td>
									</tr>
									<tr>
										<td>Celular</td>
										<td><%=f.phone_field :mobile%></td>
									</tr>
									<tr>
										<td></td>
										<td align="right"><br><br>
											<%=submit_tag "Enviar Datos"%></td>
									</tr>
								</table>
							<%end%>
						</font>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>