<div class="section">
	<div class="container-fluid">
		<h2>Registro de Usuarios</h2>
		<div class="row">
			<div class="col-md-5">
				<div class="basic-login">
					<%=form_for @web_user, :url => {:controller => "users", :action => "create"} do |f|%>
						<div class="form-group">
							<label for="register-firstname"> <b>Nombre</b></label>
							<%=f.text_field :firstname, :class => "form-control"%>
						</div>
						<div class="form-group">
							<label for="register-lastname"> <b>Apellido</b></label>
							<%=f.text_field :lastname, :class => "form-control"%>
						</div>
						<div class="form-group">
        				 	<label for="register-username"> <b>Email</b></label>
							<%=f.email_field :email, :class => "form-control"%>
						</div>
						<div class="form-group">
							<label for="register-phone"> <b>Telefono</b></label>
							<%=f.phone_field :mobile, :class => "form-control"%>
						</div>
						<div class="form-group">
							<label for="register-gender"> <b>Género</b></label><br>
							<%=f.select :gender, options_for_select([["Masculino","male"],["Femenino","female"]], "male"), {}, {:class => "form-control"}%>
						</div>
						<div class="form-group">
							<%=f.submit "Enviar Datos", :class => "btn pull-right"%>
							<div class="clearfix"></div>
						</div>
					<%end%>
				</div>
			</div>
			<div class="col-sm-6 col-sm-offset-1 social-login">
				<p>Puedes registrarte también mediante Facebook</p>
				<div class="social-login-buttons">
					<a href="/auth/facebook" class="btn-facebook-login sign_in"><i class="fa fa-facebook-square fa-lg"></i> Registrarse con Facebook</a>
				</div>
			</div>
		</div>
	</div>
</div>