<!-- Page Title -->
<div class="section section-breadcrumbs">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1>Registrar Usuarios</h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-5">
				<div class="basic-login">
					<%=form_for @web_user, :url => {:controller => "users", :action => "create"} do |f|%>
						<div class="form-group">
							<label for="register-firstname"><i class="icon-user"></i> <b>Nombre</b></label>
							<%=f.text_field :firstname, :class => "form-control"%>
						</div>
						<div class="form-group">
							<label for="register-lastname"><i class="icon-user"></i> <b>Apellido</b></label>
							<%=f.text_field :lastname, :class => "form-control"%>
						</div>
						<div class="form-group">
							<label for="register-phone"><i class="icon-user"></i> <b>Telefono</b></label>
							<%=f.phone_field :mobile, :class => "form-control"%>
						</div>
						<div class="form-group">
							<label for="register-gender"><i class="icon-user"></i> <b>Género</b></label><br>
							<%=f.radio_button :gender, "male",:checked => true%>Masculino<%=f.radio_button :gender, "female"%>Femenino
						</div>
						<div class="form-group">
        				 	<label for="register-username"><i class="icon-user"></i> <b>Email</b></label>
							<%=f.email_field :email, :class => "form-control"%>
						</div>
						<div class="form-group">
        				 	<label for="register-password"><i class="icon-lock"></i> <b>Password</b></label>
							<%=f.password_field :password, :class => "form-control"%>
						</div>
						<div class="form-group">
        				 	<label for="register-password2"><i class="icon-lock"></i> <b>Re-enter Password</b></label>
							<%=f.password_field :password_confirmation, :class => "form-control"%>
						</div>
						<div class="form-group">
							<%=f.submit "Registrar Usuario", :class => "btn pull-right"%>
							<div class="clearfix"></div>
						</div>
					<%end%>
				</div>
			</div>
			<div class="col-sm-6 col-sm-offset-1 social-login">
				<p>You can use your Facebook or Twitter for registration</p>
				<div class="social-login-buttons">
					<a href="#" class="btn-facebook-login">Use Facebook</a>
					<a href="#" class="btn-twitter-login">Use Twitter</a>
				</div>
			</div>
		</div>
	</div>
</div>