<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Se ha registrado una solicitud de contacto a travez de la Web Comercial de Longbourn Institute.</h3>

    <p>Datos generales del Contacto:</p>
    <table style="text-align: left;">
      <tr>
        <th>ID Registro</th>
        <td><%=@contact.id%></td>
      </tr>
      <tr>
        <th>Nombre</th>
        <td><%=@contact.name%></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%=@contact.email%></td>
      </tr>
      <tr>
        <th>Telefono</th>
        <td><%=@contact.phone%></td>
      </tr>
      <tr>
        <th>Empresa</th>
        <td><%=@contact.institution%></td>
      </tr>
      <tr>
        <th>Comuna</th>
        <td><%=@contact.location%></td>
      </tr>
      <tr>
        <th>Servicio Gratuito de Interes</th>
        <td><%=@contact.free_service%></td>
      </tr>
      <tr>
        <th>Curso de Interes</th>
        <td><%=@contact.paid_service%></td>
      </tr>
    </table>
    <h2>Mensaje</h2>
    <h4>Título: <%=@contact.subject%></h4>
    <p><%=simple_format @contact.msg%></p>
    
    -------------------------------------------------------
    <p>Este correo fue generado automáticamente, por lo cual se sugiere no responderlo.</p>
  </body>
</html>