<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Simula tu programa de Inglés</span>
                    <small>Nuestro Método de Aprendizaje es similar al escalamiento gradual de una Montaña</small>
                </h3>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-6">
                    <label style="font-weight: bold;">Simula tu Nivel Inicial. A confirmar mediante Prueba de Diagnóstico.</label>
                    <div class="form-group">
                        <%=select_tag :routes, options_for_select([["Expert Route: Nivel Avanzado",0],["Standard Route: Nivel Intermedio",1],["Introductory Route: Nivel Básico",2]],1), {:class => "form-control"}%>
                    </div>
                </div>
                <div class="col-md-6">
                    <label style="font-weight: bold;">Define tu Objetivo</label>
                    <div class="form-group">
                        <%=select_tag :objectives_exp, options_for_select([
                            ["Negociación Avanzada",0],
                            ["Presentaciones en Congresos Internacionales",1],
                            ["Redacción de Contratos y Papers Académicos",2],
                            ["Liderar Reuniones de Negocios",3],
                            ["Presentaciones y llamadas Telefónicas",4], 
                            ["Participación en Reuniones",5]],3), {:class => "form-control objectives", :style => "display: none;"}%>
                        <%=select_tag :objectives_std, options_for_select([
                            ["Negociación Avanzada",0],
                            ["Presentaciones en Congresos Internacionales",1],
                            ["Redacción de Contratos y Papers Académicos",2],
                            ["Liderar Reuniones de Negocios",3],
                            ["Presentaciones y llamadas Telefónicas",4], 
                            ["Participación en Reuniones",5],
                            ["Comunicación Escrita",6]],3), {:class => "form-control objectives", :style => "display: block;"}%>
                        <%=select_tag :objectives_int, options_for_select([
                            ["Negociación Avanzada",0],
                            ["Presentaciones en Congresos Internacionales",1],
                            ["Redacción de Contratos y Papers Académicos",2],
                            ["Liderar Reuniones de Negocios",3],
                            ["Presentaciones y llamadas Telefónicas",4], 
                            ["Participación en Reuniones",5],
                            ["Comunicación Escrita",6],
                            ["Nociones de Inglés",7]],3), {:class => "form-control objectives", :style => "display: none;"}%>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="shadow achv-imgs routes-display" id="achievements-exp" style="display: none;">
                        <%=image_tag "d_mountain/expert/expert_6.png", :alt => "Meta 6 Expert"%>
                        <%=image_tag "d_mountain/expert/expert_5.png", :alt => "Meta 5 Expert"%>
                        <%=image_tag "d_mountain/expert/expert_4.png", :alt => "Meta 4 Expert"%>
                        <%=image_tag "d_mountain/expert/expert_3.png", :class => "opaque", :alt => "Meta 3 Expert"%>
                        <%=image_tag "d_mountain/expert/expert_2.png", :alt => "Meta 2 Expert"%>
                        <%=image_tag "d_mountain/expert/expert_1.png", :alt => "Meta 1 Expert"%>
                    </div>
                    <div class="shadow achv-imgs routes-display" id="achievements-std" style="display: block;">
                        <%=image_tag "d_mountain/standard/standard_7.png", :alt => "Meta 7 Standard"%>
                        <%=image_tag "d_mountain/standard/standard_6.png", :alt => "Meta 6 Standard"%>
                        <%=image_tag "d_mountain/standard/standard_5.png", :alt => "Meta 5 Standard"%>
                        <%=image_tag "d_mountain/standard/standard_4.png", :class => "opaque", :alt => "Meta 4 Standard"%>
                        <%=image_tag "d_mountain/standard/standard_3.png", :alt => "Meta 3 Standard"%>
                        <%=image_tag "d_mountain/standard/standard_2.png", :alt => "Meta 2 Standard"%>
                        <%=image_tag "d_mountain/standard/standard_1.png", :alt => "Meta 1 Standard"%>
                    </div>
                    <div class="shadow achv-imgs routes-display" id="achievements-int" style="display: none;">
                        <%=image_tag "d_mountain/introductory/introductory_8.png", :alt => "Meta 8 Introductory"%>
                        <%=image_tag "d_mountain/introductory/introductory_7.png", :alt => "Meta 7 Introductory"%>
                        <%=image_tag "d_mountain/introductory/introductory_6.png", :alt => "Meta 6 Introductory"%>
                        <%=image_tag "d_mountain/introductory/introductory_5.png", :class => "opaque", :alt => "Meta 5 Introductory"%>
                        <%=image_tag "d_mountain/introductory/introductory_4.png", :alt => "Meta 4 Introductory"%>
                        <%=image_tag "d_mountain/introductory/introductory_3.png", :alt => "Meta 3 Introductory"%>
                        <%=image_tag "d_mountain/introductory/introductory_2.png", :alt => "Meta 2 Introductory"%>
                        <%=image_tag "d_mountain/introductory/introductory_1.png", :alt => "Meta 1 Introductory"%>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="achievements-list" id="exp-controls" style="display: none;">
                        <li>Negociación Avanzada</li>
                        <li>Presentaciones en Congresos Internacionales</li>
                        <li>Redacción de Contratos y Papers Académicos</li>
                        <li class="selected">Liderar Reuniones de Negocios</li>
                        <li>Presentaciones y Llamadas Telefónicas</li>
                        <li>Participación en Reuniones</li>
                    </ul>
                    <ul class="achievements-list" id="std-controls" style="display: block;">
                        <li>Negociación Avanzada</li>
                        <li>Presentaciones en Congresos Internacionales</li>
                        <li>Redacción de Contratos y Papers Académicos</li>
                        <li class="selected">Liderar Reuniones de Negocios</li>
                        <li>Presentaciones y Llamadas Telefónicas</li>
                        <li>Participación en Reuniones</li>
                        <li>Comunicación Escrita</li>
                    </ul>
                    <ul class="achievements-list" id="int-controls" style="display: none;">
                        <li>Negociación Avanzada</li>
                        <li>Presentaciones en Congresos Internacionales</li>
                        <li>Redacción de Contratos y Papers Académicos</li>
                        <li class="selected">Liderar Reuniones de Negocios</li>
                        <li>Presentaciones y Llamadas Telefónicas</li>
                        <li>Participación en Reuniones</li>
                        <li>Comunicación Escrita</li>
                        <li>Nociones de Inglés</li>
                    </ul>
                </div>
            </div>     
        </div>
    </div>
</section>