<!-- MAIN CONTENT -->
<div class="pg-opt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Cursos Para Empresas</h2>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li>Cursos Para Empresas</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="slice white bb animate-hover-slide">
    <div class="wp-section">
        <div class="container">
            <p style="margin-bottom:20px;">
            Longbourn tiene muchos años de experiencia en la realización de Programas de Capacitación en Inglés para Empresas. El diseño de nuestros Programas Empresa tiene los siguientes focos:
            </p>
            <div class="row">
                <div class="col-md-3">
                    <div class="wp-block default">
                        <div class="figure">
                            <%=image_tag "web-imgs/empresas/empresas1.jpg", :class => "img-responsive"%>
                        </div>
                        <div class="wp-block-body">
                            <p>
                            Facilitar el acceso a Cursos de Inglés con Cursos In Office.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="wp-block default">
                        <div class="figure">
                            <%=image_tag "web-imgs/empresas/empresas2.jpg", :class => "img-responsive"%>
                        </div>
                        <div class="wp-block-body">
                            <p>
                            Entregar una experiencia de capacitación única y gratificante a los participantes, dado que podrán aprender inglés de calidad de forma amena y entretenida.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="wp-block default">
                        <div class="figure">
                            <%=image_tag "web-imgs/empresas/empresas3.jpg", :class => "img-responsive"%>
                        </div>
                        <div class="wp-block-body">
                            <p>
							Facilitar la experiencia del Área de Recursos Humanos en la administración y control del Programa.
							</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wp-block default">
                        <div class="figure">
                            <%=image_tag "web-imgs/empresas/empresas4.jpg", :class => "img-responsive"%>
                        </div>
                        <div class="wp-block-body">
                            <p>
                            Precios especiales para Empresas y Franquicia SENCE.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice light-gray bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr mb-40">
                <h3 class="section-title left">
                    <span class="">Experiencia para los Participantes</span>
                </h3>
            </div>
            <div class="row">
            	<div class="col-md-12">
	            	<p>
	            		Un Programa de Capacitación exitoso es aquel en el que los participantes logran adquirir nuevos conocimientos y sienten que la Empresa les está entregando una herramienta útil para su trabajo y crecimiento profesional. Esto se ve reflejado en altas tasas de asistencia y elevado rendimiento de los participantes.
	            	</p>
            	</div>
                <div class="col-md-6 col-sm-6">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-institution"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Experiencia</h4>
                            <p>Longbourn trabaja en que la experiencia para los participantes sea de mucho agrado, al momento de la Clase y al interactuar con la Web de Estudiantes.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Cursos para Profesionales</h4>
                            <p>Los Cursos de Inglés Longbourn están diseñados para profesionales, que necesitan una capacitación personalizada y efectiva en su propia oficina. Los programas son entretenidos y diversos, abarcando temas que van mucho más allá del aprendizaje del inglés.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 ">
                <div class="icon-block icon-block-1">
                    <div class="icon-block-item">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="icon-block-body">
                        <h4 class="">Clases Dinámicas y Entretenidas</h4>
                        <p>Las clases utilizan la Metodología TEG (Teaching English Gradually) que de una forma diferente, dinámica y entretenida, desarrolla de manera simultánea las 4 habilidades del idioma: leer, escribir, escuchar y hablar.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 ">
                <div class="icon-block icon-block-1">
                    <div class="icon-block-item">
                        <i class="fa fa-group"></i>
                    </div>
                    <div class="icon-block-body">
                        <h4 class="">Nuestros Profesores</h4>
                        <p>Nuestros profesores son titulados de las mejores Universidades y son capacitados en Longbourn, entregándoles las herramientas para que realicen clases de excelencia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr mb-40">
                <h3 class="section-title left">
                    <span class="">Soluciones para el Área de Recursos Humanos</span>
                </h3>
            </div>
            <div class="row">
            	<div class="col-md-12">
	            	<p>
	            		Longbourn se preocupa para que los informes de control del Programa de Inglés de tu Empresa te lleguen oportunamente.
	            	</p>
            	</div>
                <div class="col-md-6 col-sm-6">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Informes de Seguimiento</h4>
                            <p>Longbourn entregará a la Empresa informes de seguimiento periódicos sobre el desempeño y asistencia de los participantes del programa, con el objetivo de notificar el cumplimiento de parámetros de aprobación. Esto es de mucha ayuda, especialmente para cursos con Franquicia Sence.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Control de Calidad</h4>
                            <p>Longbourn posee un sistema de Control de Calidad robusto para mantener nuestro standard de calidad a niveles elevados e identificar contingencias rápidamente para ofrecer soluciones precisas y efectivas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Proceso de Inscripción</span>
                </h3>
            </div>
            <div class="row">
            	<div class="col-md-12">
            		<p>Longbourn te guiará para que tu Programa de Capacitación de Inglés sea exitoso.</p>
            	</div>
                <div class="col-md-3">
                    <div class="icon-block icon-block-1 bordered-icon-block" style="height: 140px;">
                        <div class="icon-block-item">
                            <%=image_tag "service-icon/one-circle.png", :class => "img-responsive"%>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="title">Reunión Inicial</h4>
                            <p>Reunión inicial, en la cual se fijarán los objetivos y alcances del programa.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-block icon-block-1 bordered-icon-block" style="height: 140px;">
                        <div class="icon-block-item">
                            <%=image_tag "service-icon/two-circle.png", :class => "img-responsive"%>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="title">Prueba de Diagnóstico</h4>
                            <p>Toma de Prueba de Diagnóstico a los interesados.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-block icon-block-1 bordered-icon-block" style="height: 140px;">
                        <div class="icon-block-item">
                            <%=image_tag "service-icon/three-circle.svg", :class => "img-responsive"%>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="title">Propuesta Final</h4>
                            <p>Cotización y propuesta final.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-block icon-block-1 bordered-icon-block" style="height: 140px;">
                        <div class="icon-block-item">
                            <%=image_tag "service-icon/four-circle.png", :class => "img-responsive"%>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="title">Inicio Programa</h4>
                            <p>Inicio del Programa de Inglés en las dependencias de la Empresa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="slice p-15 base">
    <div class="cta-wr">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="text-normal">Contáctatenos para iniciar el proceso. Una Ejecutiva te asesorará para diseñar tu Programa de Inglés Longbourn Empresas.</h2>
                </div>
                <div class="col-md-4">
                    <%=link_to "<span>Consulta Aca!</span>".html_safe, {:controller => :site, :action => :contact_us}, {:class => "btn btn-lg btn-b-white btn-icon btn-icon-right btn-check pull-right"}%>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Cursos Longbourn</span>
                    <small>Nuestro modelo de aprendizaje de inglés es similar al escalamiento gradual de una montaña. Como se muestra en el siguiente esquema, se puede llegar a la cima por diferentes rutas.</small>
                </h3>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-6">
                    <label style="font-weight: bold;">Simula tu Nivel Inicial. A confirmar mediante Prueba de Diagnóstico.</label>
                    <div class="form-group">
                        <%=select_tag :routes, options_for_select([["Expert Route: Nivel Avanzado",0],["Standard Route: Nivel Intermedio",1],["Introductory Route: Nivel Básico",2]],1), {:class => "form-control"}%>
                    </div>
                </div>
                <div class="col-md-6">
                    <label style="font-weight: bold;">Define tu Objetivo</label>
                    <div class="form-group">
                        <%=select_tag :objectives_exp, options_for_select([
                            ["Negociación Avanzada",0],
                            ["Presentaciones en Congresos Internacionales",1],
                            ["Redacción de Contratos y Papers Académicos",2],
                            ["Liderar Reuniones de Negocios",3],
                            ["Presentaciones y llamadas Telefónicas",4], 
                            ["Participación en Reuniones",5]],3), {:class => "form-control objectives", :style => "display: none;"}%>
                        <%=select_tag :objectives_std, options_for_select([
                            ["Negociación Avanzada",0],
                            ["Presentaciones en Congresos Internacionales",1],
                            ["Redacción de Contratos y Papers Académicos",2],
                            ["Liderar Reuniones de Negocios",3],
                            ["Presentaciones y llamadas Telefónicas",4], 
                            ["Participación en Reuniones",5],
                            ["Comunicación Escrita",6]],3), {:class => "form-control objectives", :style => "display: block;"}%>
                        <%=select_tag :objectives_int, options_for_select([
                            ["Negociación Avanzada",0],
                            ["Presentaciones en Congresos Internacionales",1],
                            ["Redacción de Contratos y Papers Académicos",2],
                            ["Liderar Reuniones de Negocios",3],
                            ["Presentaciones y llamadas Telefónicas",4], 
                            ["Participación en Reuniones",5],
                            ["Comunicación Escrita",6],
                            ["Nociones de Inglés",7]],3), {:class => "form-control objectives", :style => "display: none;"}%>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="shadow achv-imgs routes-display" id="achievements-exp" style="display: none;">
                        <%=image_tag "d_mountain/expert/expert_6.png"%>
                        <%=image_tag "d_mountain/expert/expert_5.png"%>
                        <%=image_tag "d_mountain/expert/expert_4.png"%>
                        <%=image_tag "d_mountain/expert/expert_3.png", :class => "opaque"%>
                        <%=image_tag "d_mountain/expert/expert_2.png"%>
                        <%=image_tag "d_mountain/expert/expert_1.png"%>
                    </div>
                    <div class="shadow achv-imgs routes-display" id="achievements-std" style="display: block;">
                        <%=image_tag "d_mountain/standard/standard_7.png"%>
                        <%=image_tag "d_mountain/standard/standard_6.png"%>
                        <%=image_tag "d_mountain/standard/standard_5.png"%>
                        <%=image_tag "d_mountain/standard/standard_4.png", :class => "opaque"%>
                        <%=image_tag "d_mountain/standard/standard_3.png"%>
                        <%=image_tag "d_mountain/standard/standard_2.png"%>
                        <%=image_tag "d_mountain/standard/standard_1.png"%>
                    </div>
                    <div class="shadow achv-imgs routes-display" id="achievements-int" style="display: none;">
                        <%=image_tag "d_mountain/introductory/introductory_8.png"%>
                        <%=image_tag "d_mountain/introductory/introductory_7.png"%>
                        <%=image_tag "d_mountain/introductory/introductory_6.png"%>
                        <%=image_tag "d_mountain/introductory/introductory_5.png", :class => "opaque"%>
                        <%=image_tag "d_mountain/introductory/introductory_4.png"%>
                        <%=image_tag "d_mountain/introductory/introductory_3.png"%>
                        <%=image_tag "d_mountain/introductory/introductory_2.png"%>
                        <%=image_tag "d_mountain/introductory/introductory_1.png"%>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="achievements-list" id="exp-controls" style="display: none;">
                        <li>Negociación Avanzada</li>
                        <li>Presentaciones en Congresos Internacionales</li>
                        <li>Redacción de Contratos y Papers Académicos</li>
                        <li class="selected">Liderar Reuniones de Negocios</li>
                        <li>Presentaciones y Llamadas Telefonicas</li>
                        <li>Participación en Reuniones</li>
                    </ul>
                    <ul class="achievements-list" id="std-controls" style="display: block;">
                        <li>Negociación Avanzada</li>
                        <li>Presentaciones en Congresos Internacionales</li>
                        <li>Redacción de Contratos y Papers Académicos</li>
                        <li class="selected">Liderar Reuniones de Negocios</li>
                        <li>Presentaciones y Llamadas Telefonicas</li>
                        <li>Participación en Reuniones</li>
                        <li>Comunicación Escrita</li>
                    </ul>
                    <ul class="achievements-list" id="int-controls" style="display: none;">
                        <li>Negociación Avanzada</li>
                        <li>Presentaciones en Congresos Internacionales</li>
                        <li>Redacción de Contratos y Papers Académicos</li>
                        <li class="selected">Liderar Reuniones de Negocios</li>
                        <li>Presentaciones y Llamadas Telefonicas</li>
                        <li>Participación en Reuniones</li>
                        <li>Comunicación Escrita</li>
                        <li>Nociones de Inglés</li>
                    </ul>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-12">
                    <p>Nuestros libros tienen nombres de montañas debido a que cada uno representa distinto grado de dificultad y permite alcanzar distintos objetivos, tal como se indican en el esquema.</p>
 
                    <p>Cada libro consiste en 36 hrs. de estudio (Aprox. 3 meses, con clases 2 veces por semana)</p>
                </div>
            </div>   
        </div>
    </div>
</section>

