<div class="pg-opt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 id="page-title"><%=@page_title%></h1>
            </div>
            <div class="col-md-6">
                <ol class="return-path breadcrumb">
                    <li><%=link_to "Home", root_path%></li>
                    <li class="active">Cursos TOEFL</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="static-page-image">
    <%=image_tag "web-imgs/toefl/toefl_mid.jpg", :alt => "Cursos TOEFL"%>
    <div class="description-left">
        <span id="top-subtitle" class="subtitle text-wrapped alpha c-black">Curso de Preparación TOEFL de Longbourn</span>
    </div>
</div>


<section class="slice light-gray bb">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero white no-margin" style="height: 340px;">
                        <div class="thmb-img">
                            <i class="fa fa-search"></i>
                        </div>
                        
                        <h2 id="box-main-title">Explorando TOEFL y Determinando Cursos de Acción</h2>
                        <p class="box-main-text text-center">
                            Se estudiará y explorará cada parte de la prueba. El estudiante podrá analizar los ejercicios relacionados a cada habilidad a evaluar, comprendiendo los errores que se suelen cometer y seguir estrategias para mejorar.
                        </p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero white no-margin" style="height: 340px;">
                        <div class="thmb-img">
                            <i class="fa fa-level-up"></i>
                        </div>
                        
                        <h2 id="box-main-title">Realización de Tareas y Control de Avance</h2>
                        <p class="box-main-text text-center">
                            Se controla el progreso del curso mediante tareas evaluadas. Los objetivos son identificar las habilidades que es necesario mejorar y ayudar al estudiante a mantener ritmos de trabajo constante, entregando una ventaja significativa al enfrentar el examen.  
                        </p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero white no-margin" style="height: 340px;">
                        <div class="thmb-img">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                        
                        <h2 id="box-main-title">Ensayos</h2>
                        <p class="box-main-text text-center">
                            Durante el curso se realizarán 2 ensayos de la prueba TOEFL. Con esto se busca generar práctica suficiente y obtener datos fidedignos del avance del estudiante.
                        </p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero white no-margin" style="height: 340px;">
                        <div class="thmb-img">
                            <i class="fa fa-book"></i>
                        </div>
                        
                        <h2 id="box-main-title">Material de Apoyo</h2>
                        <p class="box-main-text text-center">
                            El estudiante encontrará todo el apoyo gramatical para aclarar dudas con el material incluido en el programa de estudio.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="title-adaptable">
                    <span>Características Generales</span>
                    <small>Programas Longbourn de Preparación TOEFL</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12" style="height: 160px;">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="adaptable-icon fa fa-map-marker"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="info-title">Ubicación</h4>
                            <p class="info-text">Oficinas del Cliente o Sede Longbourn Las Condes.</p>
                        </div>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 col-xs-12" style="height: 160px;">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="adaptable-icon fa fa-clock-o"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="info-title">Horarios</h4>
                            <p class="info-text">In Office: A definir con el Cliente</p>
                            <p class="info-text">Sede: <%=link_to "Consultar", {:controller => :site, :action => :contact_sales_agent}, {:style => "text-decoration: underline; font-size: 16px;"}%> por Horarios Disponibles</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" style="height: 160px;">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="adaptable-icon fa fa-calendar"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="info-title">Frecuencia de Clases</h4>
                            <p class="info-text">2 clases de 90 minutos por semana</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" style="height: 160px;">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="adaptable-icon fa fa-graduation-cap"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="info-title">Criterios de Aprobación</h4>
                            <p class="info-text">Obtener promedio de notas sobre 4.0</p>
                            <p class="info-text">75% de asistencia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" style="height: 160px;">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="adaptable-icon fa fa-group"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="info-title">Grupos</h4>
                            <p class="info-text">De 1 hasta 8 participantes, mismo nivel</p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>



<section class="slice white">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                	<h4 style="text-transform: none;" class="toefl-title">¿Qué es el TOEFL?</h4>
                    <p class="mobile-paragraph">
                    	Test Of English as a Foreign Language (Examen de inglés como segunda lengua) es una prueba internacional estandarizada por ETS (Educational Testing Service), que mide el dominio del lenguaje inglés académico. 
                    	<br>
						El test está diseñado una manera práctica a través de distintas secciones con el objetivo de recrear contextos semejantes a la vida real en un ambiente universitario angloparlante. Las secciones miden la capacidad para generar comunicación en las cuatro habilidades del lenguaje: expresión oral, expresión escrita, comprensión auditiva y de lectura, para desarrollar tareas académicas.
						<br>
						La certificación TOEFL es útil para:
                    </p>
                    <ul class="list-check mobile-paragraph">
                        <li><i class="fa fa-check"></i> Estudiantes que desean estudiar en una universidad extranjera.</li>
                        <li><i class="fa fa-check"></i> Admisiones y egreso del programa de aprendizaje del idioma inglés.</li>
                        <li><i class="fa fa-check"></i> Candidatos para becas y certificaciones.</li>
                        <li><i class="fa fa-check"></i> Alumnos de inglés que desean controlar su progreso.</li>
                        <li><i class="fa fa-check"></i> Estudiantes y trabajadores que solicitan visas a países de habla inglesa.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice light-gray bt bb">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-wr">
                        <h3 class="section-title left" style="text-transform: none;"><span id="destacado">¿Quién acepta las calificaciones del TOEFL?</span></h3>
                    </div>
                    <p class="mobile-paragraph">
                    	Hay más de 9000 universidades, organizaciones y otras instituciones en 130 países que aceptan esta calificación. Sin embargo, cada interesado deberá conocer los requisitos para cada caso en que se pretenda utilizar esta calificación. <br>

						Algunas otras instituciones y organizaciones utilizan la calificación TOEFL para otros propósitos, como por ejemplo:
                    </p>
                    <ul class="list-check mobile-paragraph">
                        <li><i class="fa fa-check"></i> Los departamentos de inmigración, así emiten visas de residencia y trabajo.</li>
                        <li><i class="fa fa-check"></i> Los organismos médicos y de expedición de licencias, para certificación profesional.</li>
                    </ul>
                    <p class="mobile-paragraph">
						El postulante que se preparara para esta prueba no solo estará haciendo más claras sus posibilidades de obtener un puntaje alto, sino que también mejorará su nivel de uso de inglés, de manera que aumentarán también las posibilidades de ser elegible para el propósito que se busca. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="slice p-15 base">
    <div class="cta-wr">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="text-normal" style="font-weight: bolder;">Prueba de Diagnóstico <strong style="font-size: 32px; font-weight: bolder;">sin costo</strong>. Inscripciones todas las semanas.</h2>
                </div>
                <div class="col-md-3">
                    <%=link_to "<span>Consulta acá</span>".html_safe, {:controller => :site, :action => :contact_sales_agent}, {:class => "btn btn-lg btn-b-white btn-icon btn-icon-right btn-check pull-right"}%>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="slice bg-white" id="plan-prices">
    <div class="wp-section pricing-plans">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="title-adaptable">
                    <span>Valores</span>
                    <small>Longbourn Institute</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title" id="title-plan">TOEFL: Private Lessons</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>23.000</h3>
                            <small id="info-plan" class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small id="info-plan" class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul class="plan-info-list">
                            <li><i class="fa fa-user"></i> Curso Individual Cerrado</li>
                            <li><i class="fa fa-map-marker"></i> Oficinas del Cliente</li>
                            <li><i class="fa fa-clock-o"></i> Horario a Definir con el Cliente</li>
                            <li><i class="fa fa-times"></i> 3 Reprogramaciones de Clases por cada 36 hrs. contratadas</li>
                        </ul>          
                        <p class="plan-select-block">
                            <%=link_to valores_precios_o_tarifas_path, :class => "btn btn-adaptable btn-lg btn-block-bm btn-dark btn-icon btn-check", :hidefocus => true do%>
                                <span>Contactar Ejecutiva</span>
                            <%end%>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title" id="title-plan">TOEFL: Executive Group</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>13.800</h3>
                            <small id="info-plan" class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small id="info-plan" class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul class="plan-info-list">
                            <li><i class="fa fa-group"></i> Máx. 4 Participantes Mismo Nivel</li>
                            <li><i class="fa fa-map-marker"></i> Oficinas del Cliente</li>
                            <li><i class="fa fa-clock-o"></i> Horario a Definir con el Cliente</li>
                        </ul>          
                        <p class="plan-select-block">
                            <%=link_to valores_precios_o_tarifas_path, :class => "btn btn-adaptable btn-lg btn-block-bm btn-dark btn-icon btn-check", :hidefocus => true do%>
                                <span>Contactar Ejecutiva</span>
                            <%end%>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title" id="title-plan">TOEFL: Grupal Sede Las Condes</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>9.000</h3>
                            <small id="info-plan" class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small id="info-plan" class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul class="plan-info-list">
                            <li><i class="fa fa-group"></i> Máx. 8 Participantes Mismo Nivel</li>
                            <li><i class="fa fa-map-marker"></i> Longbourn Sede Las Condes</li>
                            <li><i class="fa fa-clock-o"></i> Cursos de 08:00 a 20:30 hrs.</li>
                        </ul>          
                        <p class="plan-select-block">
                            <%=link_to valores_precios_o_tarifas_path, :class => "btn btn-adaptable btn-lg btn-block-bm btn-dark btn-icon btn-check", :hidefocus => true do%>
                                <span>Contactar Ejecutiva</span>
                            <%end%>
                        </p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>