<!-- MAIN CONTENT -->
<div class="pg-opt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2><%=@page_title%></h2>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li>Tests Internacionales</li>
                </ol>
            </div>
        </div>
    </div> 
</div>

<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="row ">  
            	<div class="col-md-6">
            		<%=image_tag "site-pics/class_whiteboard_small.jpg"%>
            	</div>
            	<div class="col-md-6">
            		<div class="row">
            			<div class="col-md-7">
            				<h4 class="title">TOEFL</h4>
            			</div>
            			<div class="col-md-5">
            			</div>
            		</div>
            		<p>
            			Test Of English as a Foreign Language (Examen de inglés como segunda lengua) es una prueba internacional estandarizada por ETS (Educational Testing Service), que mide el dominio del lenguaje inglés académico. 
            		</p>
            		<%=link_to "Ir al Curso", {}, {:class => "btn btn-block btn-lg btn-light"}%>
            	</div>
            </div>
            <hr>
            <div class="row">  
            	<div class="col-md-6">
            		<div class="row">
            			<div class="col-md-7">
            				<h4 class="title">IELTS</h4>
            			</div>
            			<div class="col-md-5">
            			</div>
            		</div>
            		<p>
            			El examen TOEIC es una evaluación que mide las habilidades en el uso del inglés en situaciones cotidianas de personas que trabajan en un ambiente internacional.
            		</p>
            		<%=link_to "Ir al Curso", {}, {:class => "btn btn-block btn-lg btn-light"}%>
            	</div>
            	<div class="col-md-6">
            		<%=image_tag "site-pics/class_whiteboard_small.jpg"%>
            	</div>
            </div>
            <hr>
            <div class="row ">  
            	<div class="col-md-6">
            		<%=image_tag "site-pics/class_whiteboard_small.jpg"%>
            	</div>
            	<div class="col-md-6">
            		<div class="row">
            			<div class="col-md-7">
            				<h4 class="title">IELTS</h4>
            			</div>
            			<div class="col-md-5">
            			</div>
            		</div>
            		<p>
            			International English Language Testing System es un Sistema de Evaluación Internacional del Idioma Inglés creado en conjunto con el Concilio Británico, IDP: IELTS Australia y el Cambridge English Language Assessment.
            		</p>
            		<%=link_to "Ir al Curso", {}, {:class => "btn btn-block btn-lg btn-light"}%>
            	</div>
            </div>
        </div>
    </div>
</section>