<div class="pg-opt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><%=@page_title%></h1>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li><%=link_to "Home", root_path%></li>
                    <li class="active">Cursos IELTS</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="static-page-image">
    <%=image_tag "web-imgs/ielts/ielts_mid.jpg", :alt => "Cursos IELTS"%>
    <div class="description-left">
        <span class="subtitle text-wrapped alpha c-black">Curso de Preparación IELTS de Longbourn </span>
    </div>
</div>


<section class="slice light-gray bb">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="wp-block hero white no-margin" style="height: 290px;">
                        <div class="thmb-img">
                            <i class="fa fa-search"></i>
                        </div>
                        
                        <h2>Conociendo la Prueba y Proporcionando Guía</h2>
                        <p class="text-center">
                            Se estudiará y explorará cada parte de la prueba. El estudiante podrá analizar los ejercicios relacionados a cada habilidad a evaluar, concientizando los errores que se suelen cometer y seguir estrategias para mejorar.
                        </p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="wp-block hero white no-margin" style="height: 290px;">
                        <div class="thmb-img">
                            <i class="fa fa-level-up"></i>
                        </div>
                        
                        <h2>Tareas y Control de Avance</h2>
                        <p class="text-center">
                            Se controla el progreso del curso mediante tareas evaluadas. Los objetivos son identificar las habilidades que es necesario mejorar y ayudar al estudiante a mantener ritmos de trabajo constante, entregando una ventaja significativa al enfrentar el examen. 
                        </p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="wp-block hero white no-margin" style="height: 290px;">
                        <div class="thmb-img">
                            <i class="fa fa-book"></i>
                        </div>
                        
                        <h2>Material de Apoyo</h2>
                        <p class="text-center">
                            El estudiante encontrará todo el apoyo gramatical para aclarar dudas con el material incluido en el programa de estudio.
                        </p>
                    </div>
                </div>
                    
            </div>

        </div>
    </div>
</section>


<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Características Generales</span>
                    <small>Programas Longbourn de Preparación IELTS</small>
                </h3>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Ubicación</h4>
                            <p>Oficinas del Cliente o Sede Longbourn Las Condes.</p>
                        </div>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Horarios</h4>
                            <p>In Office: A definir con el Cliente</p>
                            <p>Sede: <%=link_to "Consultar", contactar_agente_path, {:style => "text-decoration: underline; font-size: 16px;"}%> por Horarios Disponibles</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Frecuencia de Clases</h4>
                            <p>2 clases de 90 minutos por semana</p>
                        </div>
                    </div>
                </div>                   
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Criterios de Aprobación</h4>
                            <p>Obtener promedio de notas sobre 4.0</p>
                            <p>75% de asistencia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Grupos</h4>
                            <p>De 1 hasta 8 participantes, mismo nivel</p>
                        </div>
                    </div>
                </div>             
            </div>
        </div>
    </div>
</section>


<section class="slice white">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                	<h4>¿Qué es IELTS?</h4>
                    <p>
                    	International English Language Testing System es un Sistema de Evaluación Internacional del Idioma Inglés creado en conjunto con el British Council, IDP: IELTS Australia y el Cambridge English Language Assessment. 
                    	<br>
                    	El examen evalúa la competencia lingüística del participante en cuatro habilidades:
                    </p>
                    <ul class="list-check">
                        <li><i class="fa fa-check"></i> Comprensión Auditiva (Listening), 40 minutos</li>
                        <li><i class="fa fa-check"></i> Comprensión de lectura (Reading), 1 hora</li>
                        <li><i class="fa fa-check"></i> Escritura (Writing), 1 hora</li>
                        <li><i class="fa fa-check"></i> Conversación (Speaking), entrevista individual, 10 a 15 minutos</li>
                    </ul>
                    <h4>¿Para qué se acepta el IELTS?</h4>
                    <p>
                    	Es aceptado como certificación estándar, con indicadores seguros que evidencian la habilidad para comunicarse en inglés, con propósitos de educación, inmigración y acreditación profesional, para los cuales existen dos versiones del IELTS: Academic y General Training.
                    </p>
                    <h6>Academic</h6>
                    <p>
                    	Es uno de los exámenes requeridos para postular a la educación secundaria y superior en el Reino Unido, a países de la Comunidad Europea, Australia, Nueva Zelanda, Canadá, y es aceptado en varias universidades de Estados Unidos (Harvard, UCLA Berkeley, Yale y NYU entre otras). 
                    </p>
                    <h6>General Training</h6>
                    <p>
                    	Es requisito obligatorio para emigrar a países como Australia, Nueva Zelanda y Canadá. Además, para realizar estudios secundarios, pasantías o cursos cortos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice light-gray bt bb">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>¿Quién acepta las calificaciones del IELTS?</span></h3>
                    </div>
                    <p>
                    	Más de 9000 organizaciones en más de 140 países, las que incluyen universidades, departamentos de inmigración, agencias gubernamentales, cuerpos profesionales y compañías multinacionales. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="slice p-15 base">
    <div class="cta-wr">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="text-normal" style="font-weight: bolder;">Prueba de Diagnóstico <strong style="font-size: 32px; font-weight: bolder;">sin costo</strong>. Inscripciones todas las semanas.</h2>
                </div>
                <div class="col-md-3">
                    <%=link_to "<span>Consulta acá</span>".html_safe, contactar_agente_path, {:class => "btn btn-lg btn-b-white btn-icon btn-icon-right btn-check pull-right"}%>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="slice bg-white" id="plan-prices">
    <div class="wp-section pricing-plans">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Valores</span>
                    <small>Longbourn Institute</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title" style="font-size: 24px;">IELTS: Private Lessons</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>23.000</h3>
                            <small class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-user"></i> Curso Individual Cerrado</li>
                            <li><i class="fa fa-map-marker"></i> Oficinas del CLiente</li>
                            <li><i class="fa fa-clock-o"></i> Horario a Definir con el Cliente</li>
                            <li><i class="fa fa-times"></i> 3 Reprogramaciones de Clases por cada 36 hrs. contratadas</li>
                        </ul>          
                        <p class="plan-select-block">
                            <%=link_to contactar_agente_path, :class => "btn btn-lg btn-block-bm btn-dark btn-icon btn-check", :hidefocus => true do%>
                                <span>Contactar Ejecutiva</span>
                            <%end%>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title" style="font-size: 24px;">IELTS: Executive Group</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>13.800</h3>
                            <small class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-group"></i> Máx. 4 Participantes Mismo Nivel</li>
                            <li><i class="fa fa-map-marker"></i> Oficinas del Cliente</li>
                            <li><i class="fa fa-clock-o"></i> Horario a Definir con el Cliente</li>
                        </ul>          
                        <p class="plan-select-block">
                            <%=link_to contactar_agente_path, :class => "btn btn-lg btn-block-bm btn-dark btn-icon btn-check", :hidefocus => true do%>
                                <span>Contactar Ejecutiva</span>
                            <%end%>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title" style="font-size: 24px;">IELTS: Grupal Sede Las Condes</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>9.000</h3>
                            <small class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-group"></i> Máx. 8 Participantes Mismo Nivel</li>
                            <li><i class="fa fa-map-marker"></i> Longbourn Sede Las Condes</li>
                            <li><i class="fa fa-clock-o"></i> Cursos de 08:00 a 20:30 hrs.</li>
                        </ul>          
                        <p class="plan-select-block">
                            <%=link_to contactar_agente_path, :class => "btn btn-lg btn-block-bm btn-dark btn-icon btn-check", :hidefocus => true do%>
                                <span>Contactar Ejecutiva</span>
                            <%end%>
                        </p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>