<div class="pg-opt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><%=@page_title%></h1>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li><%=link_to "Home", root_path%></li>
                    <li class="active">Cursos TOEIC</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="static-page-image">
    <%=image_tag "web-imgs/toeic/toeic_mid.jpg", :alt => "Cursos TOEIC"%>
    <div class="description-left">
        <span class="subtitle text-wrapped alpha c-black">Curso de Preparación TOEIC de Longbourn</span>
    </div>
</div>


<section class="slice light-gray bb">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero white no-margin" style="height: 290px;">
                        <div class="thmb-img">
                            <i class="fa fa-pencil"></i>
                        </div>
                        
                        <h2>Ejercicios Cotidianos</h2>
                        <p class="text-center">
                           El curso está diseñado para proveer ejercicios que simulan la cotidianeidad de un ambiente angloparlante, tal como la prueba TOIEC.
                        </p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero white no-margin" style="height: 290px;">
                        <div class="thmb-img">
                            <i class="fa fa-signal"></i>
                        </div>
                        
                        <h2>Gradualidad</h2>
                        <p class="text-center">
                            El programa reúne actividades que ayudan a relacionarnos en un ambiente de trabajo cotidiano. Las actividades son prácticas y permiten al estudiante reconocer, en forma gradual, situaciones en las que normalmente se ve envuelto. 
                        </p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero white no-margin" style="height: 290px;">
                        <div class="thmb-img">
                            <i class="fa fa-level-up"></i>
                        </div>
                        
                        <h2>Control de Progreso</h2>
                        <p class="text-center">
                            Se controla el progreso del curso mediante tareas evaluadas. Los objetivos son identificar las habilidades que es necesario mejorar y ayudar al estudiante a mantener ritmos de trabajo constante, entregando una ventaja significativa al enfrentar el examen.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero white no-margin" style="height: 290px;">
                        <div class="thmb-img">
                            <i class="fa fa-book"></i>
                        </div>
                        
                        <h2>Material de Apoyo</h2>
                        <p class="text-center">
                           El estudiante encontrará todo el apoyo gramatical para aclarar dudas con el material incluido en el programa de estudio.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Características Generales</span>
                    <small>Programas Longbourn de Preparación TOEIC</small>
                </h3>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Ubicación</h4>
                            <p>Oficinas del Cliente o Sede Longbourn Las Condes.</p>
                        </div>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Horarios</h4>
                            <p>In Office: A definir con el Cliente</p>
                            <p>Sede: <%=link_to "Consultar", contactar_agente_path, {:style => "text-decoration: underline; font-size: 16px;"}%> por Horarios Disponibles</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Frecuencia de Clases</h4>
                            <p>2 clases de 90 minutos por semana</p>
                        </div>
                    </div>
                </div>                   
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Criterios de Aprobación</h4>
                            <p>Obtener promedio de notas sobre 4.0</p>
                            <p>75% de asistencia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Grupos</h4>
                            <p>De 1 hasta 8 participantes, mismo nivel</p>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</section>

<section class="slice white">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                	<h4>¿Qué es el TOEIC?</h4>
                    <p>
                    	El examen TOEIC es una evaluación que mide las habilidades en el uso del inglés en situaciones cotidianas de personas que trabajan en un ambiente internacional, por ejemplo:<br>
                    </p>
                    <ul class="list-check">
                        <li><i class="fa fa-check"></i> Trabajadores que utilizan el inglés en la vida laboral cotidiana, como negocios, hoteles, hospitales, restaurantes, reuniones internacionales, y eventos deportivos.</li>
                        <li><i class="fa fa-check"></i> Empleados gerenciales, de ventas y técnicos en negocios internacionales, comercio e industria que requieren hablar inglés.</li>
                        <li><i class="fa fa-check"></i> Personas que se están preparando para iniciar actividades laborales.</li>
                        <li><i class="fa fa-check"></i> Candidatos para capacitaciones o cursos realizados en inglés.</li>
                    </ul>
                    <p>
                    	El examen es de selección múltiple y se rinde en papel y lápiz. <br>

                    	Tiene 2 secciones:
                    </p>
                    <ol class="default">
                    	<li><strong>Listening Section</strong> de 45 minutos de duración aproximadamente.</li>
                    	<li><strong>Reading Section</strong>de 75 minutos de duración</li>
                    </ol>
                    <p>
                    	Más <strong>aproximadamente 30 minutos para contestar preguntas biográficas</strong>
                    	<br>
                    	<strong>Duración total</strong>: 2.5 horas. 
                    	<br>
                    	Cada sección tiene 100 preguntas.
                    	<br>
                    	La certificación TOEIC permite:
                    </p>
                    <ul class="list-check">
                        <li><i class="fa fa-check"></i> Verificar tu nivel de dominio del idioma inglés actual.</li>
                        <li><i class="fa fa-check"></i> Calificar para una nueva posición y/o ascender en una compañía.</li>
                        <li><i class="fa fa-check"></i> Mejorar tus credenciales profesionales</li>
                        <li><i class="fa fa-check"></i> Monitorear tu progreso en inglés.</li>
                        <li><i class="fa fa-check"></i> Establecer tus propios objetivos de aprendizaje.</li>
                        <li><i class="fa fa-check"></i> Involucrar a tu empleador en el mejoramiento de tus habilidades en inglés.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice light-gray bt bb">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>¿Quién acepta las calificaciones del TOEIC?</span></h3>
                    </div>
                    <p>
                    	Muchas compañías líderes, instituciones académicas y programas de estudio de idiomas en todo el mundo confían en el examen TOEIC por su objetividad y alcance para medir la habilidad del inglés de estudiantes y profesionales de negocios. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="slice p-15 base">
    <div class="cta-wr">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="text-normal" style="font-weight: bolder;">Prueba de Diagnóstico <strong style="font-size: 32px; font-weight: bolder;">sin costo</strong>. Inscripciones todas las semanas.</h2>
                </div>
                <div class="col-md-3">
                    <%=link_to "<span>Consulta acá</span>".html_safe, valores_precios_o_tarifas_path, {:class => "btn btn-lg btn-b-white btn-icon btn-icon-right btn-check pull-right"}%>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="slice bg-white" id="plan-prices">
    <div class="wp-section pricing-plans">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Valores</span>
                    <small>Longbourn Institute</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title" style="font-size: 24px;">TOEIC: Private Lessons</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>23.000</h3>
                            <small class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-user"></i> Curso Individual Cerrado</li>
                            <li><i class="fa fa-map-marker"></i> Oficinas del CLiente</li>
                            <li><i class="fa fa-clock-o"></i> Horario a Definir con el Cliente</li>
                            <li><i class="fa fa-times"></i> 3 Reprogramaciones de Clases por cada 36 hrs. contratadas</li>
                        </ul>          
                        <p class="plan-select-block">
                            <%=link_to valores_precios_o_tarifas_path, :class => "btn btn-lg btn-block-bm btn-dark btn-icon btn-check", :hidefocus => true do%>
                                <span>Contactar Ejecutiva</span>
                            <%end%>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title" style="font-size: 24px;">TOEIC: Executive Group</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>13.800</h3>
                            <small class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-group"></i> Máx. 4 Participantes Mismo Nivel</li>
                            <li><i class="fa fa-map-marker"></i> Oficinas del Cliente</li>
                            <li><i class="fa fa-clock-o"></i> Horario a Definir con el Cliente</li>
                        </ul>          
                        <p class="plan-select-block">
                            <%=link_to valores_precios_o_tarifas_path, :class => "btn btn-lg btn-block-bm btn-dark btn-icon btn-check", :hidefocus => true do%>
                                <span>Contactar Ejecutiva</span>
                            <%end%>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title" style="font-size: 24px;">TOEIC: Grupal Sede Las Condes</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>9.000</h3>
                            <small class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-group"></i> Máx. 8 Participantes Mismo Nivel</li>
                            <li><i class="fa fa-map-marker"></i> Longbourn Sede Las Condes</li>
                            <li><i class="fa fa-clock-o"></i> Cursos de 08:00 a 20:30 hrs.</li>
                        </ul>          
                        <p class="plan-select-block">
                            <%=link_to valores_precios_o_tarifas_path, :class => "btn btn-lg btn-block-bm btn-dark btn-icon btn-check", :hidefocus => true do%>
                                <span>Contactar Ejecutiva</span>
                            <%end%>
                        </p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>