<!-- MAIN CONTENT -->
<div class="pg-opt">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 id="page-title"><%=@page_title%></h1>
            </div>
            <div class="col-md-5">
                <ol class="return-path breadcrumb">
                    <li><%=link_to "Home", root_path%></li>
                    <li class="active">Cursos Para Empresas</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="slice white bb animate-hover-slide">
    <div class="wp-section">
        <div class="container">
            <p style="margin-bottom:20px;" class="mobile-paragraph-big">
            Longbourn tiene muchos años de experiencia en la realización de Programas de Capacitación en Inglés para Empresas. El diseño de nuestros Programas Empresa tiene los siguientes focos:
            </p>
            <div class="row">
                <div class="col-md-3">
                    <div class="wp-block default">
                        <div class="figure">
                            <%=image_tag "web-imgs/empresas/empresas1_small.jpg", :class => "img-responsive", :alt => "Empresas 1"%>
                        </div>
                        <div class="wp-block-body">
                            <p class="mobile-paragraph-big">
                            Facilitar el acceso a Cursos de Inglés con Cursos In Office.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="wp-block default">
                        <div class="figure">
                            <%=image_tag "web-imgs/empresas/empresas2_small.jpg", :class => "img-responsive", :alt => "Empresas 2"%>
                        </div>
                        <div class="wp-block-body">
                            <p class="mobile-paragraph-big">
                            Entregar una experiencia de capacitación única y gratificante a los participantes, dado que podrán aprender inglés de calidad de forma amena y entretenida.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="wp-block default">
                        <div class="figure">
                            <%=image_tag "web-imgs/empresas/empresas3_small.jpg", :class => "img-responsive", :alt => "Empresas 3"%>
                        </div>
                        <div class="wp-block-body">
                            <p class="mobile-paragraph-big">
							Facilitar la experiencia del Área de Recursos Humanos en la administración y control del Programa.
							</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wp-block default">
                        <div class="figure">
                            <%=image_tag "web-imgs/empresas/empresas4_small.jpg", :class => "img-responsive"%>
                        </div>
                        <div class="wp-block-body">
                            <p class="mobile-paragraph-big">
                            Precios especiales para Empresas y Franquicia SENCE.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice light-gray bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr mb-40">
                <h3 class="title-adaptable">
                    <span class="">Experiencia para los Participantes</span>
                </h3>
            </div>
            <div class="row">
            	<div class="col-md-12">
	            	<p class="mobile-paragraph info-top">
	            		Un Programa de Capacitación exitoso es aquel en el que los participantes logran adquirir nuevos conocimientos y sienten que la Empresa les está entregando una herramienta útil para su trabajo y crecimiento profesional. Esto se ve reflejado en altas tasas de asistencia y elevado rendimiento de los participantes.
	            	</p>
            	</div>
               
                <div class="col-md-6 col-sm-12">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i id="mobileIcon" class="fa fa-institution"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="number-title">Experiencia</h4>
                            <p class="mobile-paragraph">Longbourn trabaja en que la experiencia para los participantes sea de mucho agrado, al momento de la Clase y al interactuar con la Web de Estudiantes.</p>
                        </div>
                    </div>    
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i id="mobileIcon" class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="number-title">Cursos para Profesionales</h4>
                            <p class="mobile-paragraph">Los Cursos de Inglés Longbourn están diseñados para profesionales, que necesitan una capacitación personalizada y efectiva en su propia oficina. Los programas son entretenidos y diversos, abarcando temas que van mucho más allá del aprendizaje del inglés.</p>
                        </div>
                    </div>
                </div>           

            <div class="col-md-12 col-sm-12">
                <div class="icon-block icon-block-1">
                    <div class="icon-block-item">
                        <i id="mobileIcon" class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="icon-block-body">
                        <h4 class="number-title">Clases Dinámicas y Entretenidas</h4>
                        <p class="mobile-paragraph">Las clases utilizan la Metodología TEG (Teaching English Gradually) que de una forma diferente, dinámica y entretenida, desarrolla de manera simultánea las 4 habilidades del idioma: leer, escribir, escuchar y hablar.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="icon-block icon-block-1">
                    <div class="icon-block-item">
                        <i class="fa fa-group"></i>
                    </div>
                    <div class="icon-block-body">
                        <h4 class="number-title">Nuestros Profesores</h4>
                        <p class="mobile-paragraph">Nuestros profesores son titulados de las mejores Universidades y son capacitados en Longbourn, entregándoles las herramientas para que realicen clases de excelencia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr mb-40">
                <h3 class="title-adaptable">
                    <span class="">Soluciones para el Área de Recursos Humanos</span>
                </h3>
            </div>
            <div class="row">
            	<div class="col-md-12">
	            	<p class="mobile-paragraph info-top">
	            		Longbourn se preocupa para que los informes de control del Programa de Inglés de tu Empresa te lleguen oportunamente.
	            	</p>
            	</div>
                <div class="col-md-6 col-sm-12">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i id="mobileIcon" class="fa fa-desktop"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="number-title">Informes de Seguimiento</h4>
                            <p class="mobile-paragraph">Longbourn entregará a la Empresa informes de seguimiento periódicos sobre el desempeño y asistencia de los participantes del programa, con el objetivo de notificar el cumplimiento de parámetros de aprobación. Esto es de mucha ayuda, especialmente para cursos con Franquicia Sence.</p>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-6 col-sm-12">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i id="mobileIcon" class="fa fa-check-square-o"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="number-title">Control de Calidad</h4>
                            <p class="mobile-paragraph">Longbourn posee un sistema de Control de Calidad robusto para mantener nuestro standard de calidad a niveles elevados e identificar contingencias rápidamente para ofrecer soluciones precisas y efectivas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="title-adaptable">
                    <span>Proceso de Inscripción</span>
                </h3>
            </div>
            <div class="row">
            	<div class="col-md-12">
            		<p class="mobile-paragraph">Longbourn te guiará para que tu Programa de Capacitación de Inglés sea exitoso.</p>
            	</div>
                <div class="col-md-3">
                    <div class="icon-block icon-block-1 bordered-icon-block" style="height: 140px;">
                        <div class="icon-block-item">
                            <%=image_tag "service-icon/one-circle.png", :class => "img-responsive"%>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="number-title title">Reunión Inicial</h4>
                            <p class="box-main-text">Reunión inicial, en la cual se fijarán los objetivos y alcances del programa.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-block icon-block-1 bordered-icon-block" style="height: 140px;">
                        <div class="icon-block-item">
                            <%=image_tag "service-icon/two-circle.png", :class => "img-responsive"%>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="number-title title">Prueba de Diagnóstico</h4>
                            <p class="box-main-text">Toma de Prueba de Diagnóstico a los interesados.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-block icon-block-1 bordered-icon-block" style="height: 140px;">
                        <div class="icon-block-item">
                            <%=image_tag "service-icon/three-circle.svg", :class => "img-responsive"%>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="number-title title">Propuesta Final</h4>
                            <p class="box-main-text">Cotización y propuesta final.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-block icon-block-1 bordered-icon-block" style="height: 140px;">
                        <div class="icon-block-item">
                            <%=image_tag "service-icon/four-circle.png", :class => "img-responsive"%>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="number-title title">Inicio Programa</h4>
                            <p class="box-main-text">Inicio del Programa de Inglés en las dependencias de la Empresa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="slice p-15 base">
    <div class="cta-wr">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="text-normal">Contáctatenos para iniciar el proceso. Una Ejecutiva te asesorará para diseñar tu Programa de Inglés Longbourn Empresas.</h2>
                </div>
                <div class="col-md-4">
                    <%=link_to "<span id='info-text'>Consulta Aca!</span>".html_safe, {:controller => :site, :action => :contact_us}, {:class => "btn btn-lg btn-b-white btn-icon btn-icon-right btn-check pull-right","data-no-turbolink" => true}%>
                </div>
            </div>
        </div>
    </div>
</section>

<%=render :partial => "mountain_partial"%>



