<div class="pg-opt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2><%=@page_title%></h2>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="active">Longbourn Institute</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="static-page-image">
    <%=image_tag "backgrounds/full-bg-19.jpg", :alt => ""%>
    <div class="description-left">
        <span class="subtitle text-wrapped alpha c-black">Cursos para Profesionales en los mejores horarios en nuestra Sede.</span>
    </div>
</div>

<section class="slice light-gray bb">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero base no-margin" style="height: 290px;">
                        <div class="thmb-img">
                            <i class="fa fa-lightbulb-o"></i>
                        </div>
                        
                        <h2>Cursos Orientados a Profesionales</h2>
                        <p class="text-center">Te estregaremos las herramientas y contenidos para que puedas comunicar tus ideas en forma precisa y puedas comprender con claridad mensajes escritos y auditivos en inglés.</p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero base no-margin" style="height: 290px;">
                        <div class="thmb-img">
                            <i class="fa fa-group"></i>
                        </div>
                        
                        <h2>Grupos de Hasta 8 Participantes</h2>
                        <p class="text-center">En Longbourn podrás compartir e intercambiar ideas con otros Profesionales que buscan tus mismos objetivos, lo que enriquece la experiencia de aprendizaje.</p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero base no-margin" style="height: 290px;">
                        <div class="thmb-img">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        
                        <h2>Los Mejores Horarios Nuestra Sede</h2>
                        <p class="text-center">Sabemos que tienes poco tiempo disponible. Los Cursos de Inglés Longbourn Institute se dictan temprano en la mañana o después de tu horario de oficina, en nuestra Sede Las Condes, a pasos del Metro Escuela Militar. </p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero base no-margin" style="height: 290px;">
                        <div class="thmb-img">
                            <i class="fa fa-pencil"></i>
                        </div>
                        
                        <h2>Metodología TEG</h2>
                        <p class="text-center">Las clases utilizan la Metodología TEG (Teaching English Gradually) que de una forma diferente, dinámica y entretenida, desarrolla de manera simultánea las 4 habilidades del idioma: leer, escribir, escuchar y hablar.</p>
                    </div>
                </div>
                    
            </div>

        </div>
    </div>
</section>


<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Características Generales</span>
                    <small>Cursos Longbourn Institute</small>
                </h3>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Horarios</h4>
                            <p>Consulta acá por horarios y vacantes disponibles.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Frecuencia de Clases</h4>
                            <p>2 veces por semana</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Ubicación</h4>
                            <p>Longbourn Sede Las Condes.</p>
                            <p>Coronel Pereira 72 Piso 11, Las Condes</p>
                        </div>
                    </div>
                </div>                    
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Criterios de Aprobación</h4>
                            <p>Obtener promedio de notas sobre 4.0</p>
                            <p>75% de asistencia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Grupos</h4>
                            <p>De 1 hasta 8 participantes, mismo nivel</p>
                        </div>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-barcode"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Código Sence</h4>
                            <p>Sí. Consulta con tu Empresa.</p>
                        </div>
                    </div>
                </div>                   
            </div>
        </div>
    </div>
</section>

<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Simula tu programa de inglés</span>
                    <small>Nuestro método de aprendizaje es similar al escalamiento gradual de una montaña.</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="icon-block icon-block-1 bordered-icon-block" style="height: 140px;">
                        <div class="icon-block-item">
                            <%=image_tag "service-icon/one-circle.png", :class => "img-responsive"%>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="title">Encuentra tu punto de Partida</h4>
                            <p>El Punto de Partida queda determinado por el nivel inicial de inglés, que será medido a través de nuestra <b>Prueba de Diagnóstico</b>.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-block icon-block-1 bordered-icon-block" style="height: 140px;">
                        <div class="icon-block-item">
                            <%=image_tag "service-icon/two-circle.png", :class => "img-responsive"%>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="title">Define tu objetivo</h4>
                            <p>La cantidad de libros a contratar queda determinada por lo que cada Profesional o Grupo necesite o quiera aprender.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-block icon-block-1 bordered-icon-block" style="height: 140px;">
                        <div class="icon-block-item">
                            <%=image_tag "service-icon/three-circle.svg", :class => "img-responsive"%>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="title">Asesoramos tu desarrollo</h4>
                            <p>Duis lacinia elementum velit, nec viverra nisi. Morbi gravida, massa sed dictum consectetur, turpis mi euismod elit, sit amet feugiat orci dui in felis.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-4">
                    <label style="font-weight: bold;">Simula tu nivel inicial</label>
                    <div class="form-group">
                        <%=select_tag :routes, options_for_select([["Introductory",0],["Standard",1],["Expert",2]],2), {:class => "form-control"}%>
                    </div>
                </div>
                <div class="col-md-4">
                    <label style="font-weight: bold;">Mi objetivo es</label>
                    <div class="form-group">
                        <%=select_tag :objectives_int, options_for_select([
                            ["Negociación Avanzada",0],
                            ["Presentaciones en Congresos Internacionales",1],
                            ["Redacción de Contratos y Papers Académicos",2],
                            ["Liderar Reuniones de Negocios",3],
                            ["Presentaciones y llamadas Telefónicas",4], 
                            ["Participación en Reuniones",5],
                            ["Comunicación Escrita",6],
                            ["Nociones de Inglés",7]],1), {:class => "form-control objectives", :style => "display: none;"}%>
                        <%=select_tag :objectives_std, options_for_select([
                            ["Negociación Avanzada",0],
                            ["Presentaciones en Congresos Internacionales",1],
                            ["Redacción de Contratos y Papers Académicos",2],
                            ["Liderar Reuniones de Negocios",3],
                            ["Presentaciones y llamadas Telefónicas",4], 
                            ["Participación en Reuniones",5],
                            ["Comunicación Escrita",6]],1), {:class => "form-control objectives", :style => "display: none;"}%>
                        <%=select_tag :objectives_exp, options_for_select([
                            ["Negociación Avanzada",0],
                            ["Presentaciones en Congresos Internacionales",1],
                            ["Redacción de Contratos y Papers Académicos",2],
                            ["Liderar Reuniones de Negocios",3],
                            ["Presentaciones y llamadas Telefónicas",4], 
                            ["Participación en Reuniones",5]],5), {:class => "form-control objectives", :style => "display: block;"}%>
                    </div>
                </div>
                <div class="col-md-4">
                    <label> </label>
                    <div class="form-group">
                        <%=link_to "Más Información", {:controller => :site, :action => :contact_us}, {:class => "btn btn-block btn-base"}%>
                    </div>
                </div>
            </div>

            <div class="row routes-display" style="display: none;">
                <div class="col-md-8">
                    <div class="shadow achv-imgs" id="achievements-int">
                        <%=image_tag "d_mountain/introductory/introductory_8.png"%>
                        <%=image_tag "d_mountain/introductory/introductory_7.png"%>
                        <%=image_tag "d_mountain/introductory/introductory_6.png"%>
                        <%=image_tag "d_mountain/introductory/introductory_5.png"%>
                        <%=image_tag "d_mountain/introductory/introductory_4.png"%>
                        <%=image_tag "d_mountain/introductory/introductory_3.png"%>
                        <%=image_tag "d_mountain/introductory/introductory_2.png"%>
                        <%=image_tag "d_mountain/introductory/introductory_1.png", :class => "opaque"%>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="achievements-list" id="int-controls">
                        <li>Negociación Avanzada</li>
                        <li>Presentaciones en Congresos Internacionales</li>
                        <li>Redacción de Contratos y Papers Académicos</li>
                        <li>Liderar Reuniones de Negocios</li>
                        <li>Presentaciones y Llamadas Telefonicas</li>
                        <li>Participación en Reuniones</li>
                        <li>Comunicación Escrita</li>
                        <li class="selected">Nociones de Inglés</li>
                    </ul>
                </div>
            </div>

            <div class="row routes-display" style="display: none;">
                <div class="col-md-8">
                    <div class="shadow achv-imgs" id="achievements-std">
                        <%=image_tag "d_mountain/standard/standard_7.png"%>
                        <%=image_tag "d_mountain/standard/standard_6.png"%>
                        <%=image_tag "d_mountain/standard/standard_5.png"%>
                        <%=image_tag "d_mountain/standard/standard_4.png"%>
                        <%=image_tag "d_mountain/standard/standard_3.png"%>
                        <%=image_tag "d_mountain/standard/standard_2.png"%>
                        <%=image_tag "d_mountain/standard/standard_1.png", :class => "opaque"%>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="achievements-list" id="std-controls">
                        <li>Negociación Avanzada</li>
                        <li>Presentaciones en Congresos Internacionales</li>
                        <li>Redacción de Contratos y Papers Académicos</li>
                        <li>Liderar Reuniones de Negocios</li>
                        <li>Presentaciones y Llamadas Telefonicas</li>
                        <li>Participación en Reuniones</li>
                        <li class="selected">Comunicación Escrita</li>
                    </ul>
                </div>
            </div>

            <div class="row routes-display" style="display: block;">
                <div class="col-md-8">
                    <div class="shadow achv-imgs" id="achievements-exp">
                        <%=image_tag "d_mountain/expert/expert_6.png", :class => "opaque"%>
                        <%=image_tag "d_mountain/expert/expert_5.png"%>
                        <%=image_tag "d_mountain/expert/expert_4.png"%>
                        <%=image_tag "d_mountain/expert/expert_3.png"%>
                        <%=image_tag "d_mountain/expert/expert_2.png"%>
                        <%=image_tag "d_mountain/expert/expert_1.png"%>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="achievements-list" id="exp-controls">
                        <li class="selected">Negociación Avanzada</li>
                        <li>Presentaciones en Congresos Internacionales</li>
                        <li>Redacción de Contratos y Papers Académicos</li>
                        <li>Liderar Reuniones de Negocios</li>
                        <li>Presentaciones y Llamadas Telefonicas</li>
                        <li>Participación en Reuniones</li>
                    </ul>
                </div>
            </div>     
        </div>
    </div>
</section>




<section class="slice p-15 base">
    <div class="cta-wr">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-normal">Prueba en Longbourn <strong style="font-size: 30px; font-weight: bolder;">sin costo!</strong></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h1 class="text-normal">Prueba de Diagnóstico - Simulación TOEFL - Simulación TOEIC - Simulación IELTS</h1>
                </div>
                <div class="col-md-4">
                    <%=link_to "<span>Contactanos</span>".html_safe, {:controller => :site, :action => :contact_us}, {:class => "btn btn-lg btn-b-white btn-icon btn-icon-right btn-check pull-right"}%>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
<section class="slice animate-hover-slide bg-white bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Cursos Próximos a Partir</span>
                    <small>Los siguientes cursos tienen vacantes disponibles</small>
                </h3>
            </div>
            <div class="owl-carousel owl-carousel-3">
                <%@active_courses.each do |ac|%>
                    <div class="item">
                        <div class="wp-block default">
                            <div class="figure">
                                <%=image_tag "prv/school/school-1.jpg", :class => "img-responsive", :alt => ""%>
                                <span class="wp-block-date-over alpha"><strong><%=l(ac.start_date, :format => "%b %d")%></strong></span>
                                <div class="figcaption bg-base"></div>
                                <div class="figcaption-btn">
                                    <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-check"></i> Postular</a>
                                </div>
                            </div>
                            <div class="wp-block-body bb">
                                <h2 class="title"><%=ac.coursename%></h2>
                                <p>
                                <%=ac.description%>
                                <br>
                                36 Horas.
                                </p>
                            </div>
                            <ul class="aux-info-cells">
                                <li><i class="fa fa-calendar"></i><%=l(ac.start_date, :format => "%b %d")%></li>
                                <li><i class="fa fa-clock-o"></i> 10:00 AM</li>
                                <li style="background-color: <%=route_bg_color(ac.course_level_id)%>;"><i class="fa fa-plus"></i> <a href="#">Más Información</a></li>
                            </ul>
                        </div>
                    </div>
                <%end%>      
            </div>
        </div>
    </div>
</section>
-->
    <!-- LIGHT -->
<section class="slice bg-white" id="plan-prices">
    <div class="wp-section pricing-plans">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Valores</span>
                    <small>Longbourn Institute</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title" style="font-size: 24px;">Private Executive</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>23.000</h3>
                            <small class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-user"></i> Curso Individual Cerrado</li>
                            <li><i class="fa fa-map-marker"></i> Sede Las Condes</li>
                            <li><i class="fa fa-clock-o"></i> Horario a Definir con el Cliente</li>
                        </ul>          
                        <p class="plan-select-block">
                            <a href="#" class="btn btn-lg btn-block-bm btn-light btn-icon btn-check" hidefocus="true">
                                <span>Más Información</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title" style="font-size: 24px;">Executive Group</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>13.800</h3>
                            <small class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-group"></i> Máx. 8 Participantes Mismo Nivel</li>
                            <li><i class="fa fa-map-marker"></i> Sede Las Condes</li>
                            <li><i class="fa fa-clock-o"></i> Horario a Definir con el Cliente</li>
                        </ul>          
                        <p class="plan-select-block">
                            <a href="#" class="btn btn-lg btn-block-bm btn-light btn-icon btn-check" hidefocus="true">
                                <span>Más Información</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wp-block popular">
                        <div class="plan-header light">
                            <div class="popular-tag dark">Destacado</div>
                            <h2 class="plan-title" style="font-size: 24px;">Longbourn Institute</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>9.000</h3>
                            <small class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-group"></i> Máx. 8 Participantes Mismo Nivel</li>
                            <li><i class="fa fa-map-marker"></i> Sede Las Condes</li>
                            <li><i class="fa fa-clock-o"></i> Cursos de 17:00 a 20:30 hrs.</li>
                        </ul>          
                        <p class="plan-select-block">
                            <a href="#" class="btn btn-lg btn-block-bm btn-dark btn-icon btn-check" hidefocus="true">
                                <span>Ver Cursos Disponibles</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title" style="font-size: 24px;">Longbourn Startup</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>7.500</h3>
                            <small class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-group"></i> Máx. 8 Participantes Mismo Nivel</li>
                            <li><i class="fa fa-map-marker"></i> Sede Las Condes</li>
                            <li><i class="fa fa-clock-o"></i> Cursos de 8:00 a 17:30 hrs.</li>
                        </ul>         
                        <p class="plan-select-block">
                            <a href="#" class="btn btn-lg btn-block-bm btn-light btn-icon btn-check" hidefocus="true">
                                <span>Más Información</span>
                            </a>
                        </p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>
