<div class="section">
    <div class="container-fluid">
    	<h2><%=@page_title%></h2>
		<div class="row service-wrapper-row">
			<div class="col-sm-4">
				<div class="service-image">
					<%=image_tag "site-pics/office-meeting.jpg", :size => "400x150"%>
				</div>
			</div>
			<div class="col-sm-7 info-frame">
				<h3>Cursos de Inglés en tu Oficina</h3>

				<p>
					Cursos de inglés especialmente diseñados para ejecutivos con poco tiempo disponible, que necesitan una capacitación personalizada, efectiva y flexible en su propia oficina.
				</p>
			</div>
		</div>
		<div class="row service-wrapper-row">
			<div class="col-sm-4">
				<div class="service-image">
					<%=image_tag "site-pics/class_whiteboard.jpg", :size => "400x150"%>
				</div>
			</div>
			<div class="col-sm-7 info-frame">
				<h3>Contenidos Orientados a Ejecutivos</h3>
				<p>
					Los Cursos de Inglés Executive te entregarán, sin moverte de tu escritorio, las herramientas y contenidos para comunicarte en forma precisa y para entender con claridad los mensajes leídos y escuchados en inglés.
				</p>
			</div>
		</div>
		<div class="row service-wrapper-row">
			<div class="col-sm-4">
				<div class="service-image">
					<%=image_tag "profile_pictures/books.jpg", :size => "400x150"%>
				</div>
			</div>
			<div class="col-sm-7 info-frame">
				<h3>Metodología TEG</h3>
				<p>
					Las clases utilizan la <b>Metodología TEG</b> (Teaching English Gradually) que de una forma <b>diferente, dinámica y entretenida</b>, desarrolla de manera simultánea las 4 habilidades del idioma: leer, escribir, escuchar y hablar.
				</p>
			</div>
		</div>
	</div>
</div>


<div class="section">
    <div class="container-fluid">
		<h2>Cursos Longbourn</h2>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 info-frame">
				<p>
					Nuestro modelo de aprendizaje de inglés es similar al escalamiento gradual de una montaña. Como se muestra en el siguiente esquema, se puede llegar a la cima por diferentes rutas:
				</p>
				<div class="info-frame-img">
					<%=image_tag "site-pics/diagrama_cursos_1100.png", :size => "900x300"%>
				</div>
				<p>
					Nuestros libros tienen nombres de montañas debido a que cada uno representa distinto grado de dificultad y permite alcanzar distintos objetivos, tal como se indican en el esquema.
				</p>
				<p>
					En cada clase se trabaja con:
				</p>
				<ul>
					<li>Videos</li>
					<li>Libros propios</li>
					<li>Canciones</li>
					<li>Lecturas</li>
					<li>Acceso Web de Estudiantes Longbourn.</li>
				</ul>
			</div>
		</div>
	</div>
</div>



<div class="section">
    <div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 info-frame" style="margin-top: 20px;">
				<h3>Características Generales de los Cursos Longbourn Executive</h3>
			</div>
			<div class="col-xs-10 col-xs-offset-1 info-frame" style="margin-top: 20px;">
				<div class="course-features-table">
					<div class="row table-row">
						<div class="col-xs-12">
							<div class="col-xs-5 table-header">
								Duración de cada Libro
							</div>
							<div class="col-xs-7 table-data">
								<div class="data-row">
									36 hrs. Cronológicas
								</div>
								<div class="data-row">
									24 Clases de 90 mins. – Aprox. 3 meses.
								</div>
							</div>
						</div>
					</div>
					<div class="row table-row">
						<div class="col-xs-12">
							<div class="col-xs-5 table-header">
								Frecuencia de Clases
							</div>
							<div class="col-xs-7 table-data">
								<div class="data-row">
									2 o más veces por semana
								</div>
							</div>
						</div>
					</div>
					<div class="row table-row">
						<div class="col-xs-12">
							<div class="col-xs-5 table-header">
								Horarios
							</div>
							<div class="col-xs-7 table-data">
								<div class="data-row">
									Lunes a Viernes, a definir con el cliente.
								</div>
								<div class="data-row">
									Primer Horario inicia a las 08:00
								</div>
								<div class="data-row">
									Último Horario inicia a las 18:30 hrs.
								</div>
							</div>
						</div>
					</div>
					<div class="row table-row">
						<div class="col-xs-12">
							<div class="col-xs-5 table-header">
								Ubicación
							</div>
							<div class="col-xs-7 table-data">
								<div class="data-row">
									Oficina del cliente.
								</div>
							</div>
						</div>
					</div>
					<div class="row table-row">
						<div class="col-xs-12">
							<div class="col-xs-5 table-header">
								Reprogramaciones de Clases
							</div>
							<div class="col-xs-7 table-data">
								<div class="data-row">
									3 Reprogramaciones de Clases por cada 36 hrs. contratadas (no aplica para cursos Sence)
								</div>
							</div>
						</div>
					</div>
					<div class="row table-row">
						<div class="col-xs-12">
							<div class="col-xs-5 table-header">
								Código Sence
							</div>
							<div class="col-xs-7 table-data">
								<div class="data-row">
									A partir de grupos de 4 o más personas.
								</div>
							</div>
						</div>
					</div>
					<div class="row table-row">
						<div class="col-xs-12">
							<div class="col-xs-5 table-header">
								Criterio de aprobación de cursos
							</div>
							<div class="col-xs-7 table-data">
								<div class="data-row">
									Obtener promedio de notas sobre 4.0
								</div>
								<div class="data-row">
									75% de asistencia.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="section">
    <div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 info-frame" style="margin-top: 20px;">
				<h3>Proceso de Inscripción</h3>
			</div>
			<div class="col-xs-10 col-xs-offset-1 info-frame" style="margin-top: 20px;">
				<p>
					El <b>Punto de Partida</b> queda determinado por el nivel inicial de inglés, que será medido a través de nuestra <b>Prueba de Diagnóstico</b>.
				</p>
				<div class="row">
					<div class="col-xs-8 col-xs-offset-2">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Puntaje Prueba de Diagnóstico</th>
									<th>Ruta</th>
									<th>Libro Inicial</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>+71% Prueba Diagnóstico</td>
									<td>Expert Route</td>
									<td>Cotopaxi</td>
								</tr>
								<tr>
									<td>40% a 70% Prueba Diagnóstico</td>
									<td>Standard Route</td>
									<td>Mauna Kea</td>
								</tr>
								<tr>
									<td>0% a 39% Prueba Diagnóstico</td>
									<td>Introductory Route</td>
									<td>Tronador</td>
								</tr>
							
							</tbody>
						</table>
					</div>
				</div>

				<p>
					El <b>Punto Objetivo</b> lo decides tú.
				</p>
				<ul>
					<li>
						La cantidad de libros a contratar queda determinada por lo que cada Ejecutivo o Grupo necesite o quiera aprender.
					</li>
				</ul>

				<p>
					<b>Inscríbete</b> en nuestra <b>Prueba de Diagnóstico</b>. Con tus resultados y teniendo en cuenta el objetivo deseado, generaremos la cotización final de tu <b>Programa Longbourn Executive</b>.
				</p>

				<p>
					La <b>Prueba de Diagnóstico</b> no tiene costo.
				</p>
			</div>
		</div>
	</div>
</div>


<div class="section">
    <div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 info-frame" style="margin-top: 20px;">
				<h3>Valores</h3>
			</div>
			<div class="col-xs-10 col-xs-offset-1 info-frame" style="margin-top: 20px;">
				<p>
					Valores para programas cerrados In Office. Los valores van disminuyendo según la cantidad de alumnos interesados en el curso.
				</p>

	        	<div class="row">
	        		<div class="col-md-12">
	        			<!-- Pricing Plans Wrapper -->
	        			<div class="pricing-wrapper">
	        				<!-- Pricing Plan -->
							<div class="pricing-plan">
								<h2 class="pricing-plan-title">Starter</h2>
								<div class="pricing-plan-price">FREE</div>
								<!-- Pricing Plan Features -->
								<ul class="pricing-plan-features">
									<li><strong>1</strong> user</li>
									<li><strong>Unlimited</strong> projects</li>
									<li><strong>2GB</strong> storage</li>
								</ul>
								<a href="index.html" class="btn">Order Now</a>
							</div>
							<!-- End Pricing Plan -->
						    <div class="pricing-plan">
								<h2 class="pricing-plan-title">Advanced</h2>
								<div class="pricing-plan-price">$49<span>/mo</span></div>
								<ul class="pricing-plan-features">
									<li><strong>10</strong> users</li>
									<li><strong>Unlimited</strong> projects</li>
									<li><strong>20GB</strong> storage</li>
								</ul>
								<a href="index.html" class="btn">Order Now</a>
						    </div>
						    <!-- Promoted Pricing Plan (White Background) -->
						    <div class="pricing-plan pricing-plan-promote">
									<h2 class="pricing-plan-title">Premium</h2>
									<div class="pricing-plan-price">$99<span>/mo</span></div>
									<ul class="pricing-plan-features">
										<li><strong>Unlimited</strong> users</li>
										<li><strong>Unlimited</strong> projects</li>
										<li><strong>100GB</strong> storage</li>
									</ul>
								<a href="index.html" class="btn">Order Now</a>
						    </div>
						</div>
						<!-- End Pricing Plans Wrapper -->
	        		</div>
	        	</div>

				<p>
					Los valores incluyen:
				</p>
				<ul>
					<li>Clases presenciales individuales o grupales In Office</li>
					<li>Libros Originales TEG</li>
					<li>Material docente</li>
					<li>Acceso al sitio Web de estudiantes de Longbourn</li>
					<li>No hay costo asociado a matricula.</li>
				</ul>
			</div>
		</div>

    </div>
</div>
