<div class="pg-opt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Longbourn Institute - Cursos de Inglés para Profesionales</h2>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="active">Longbourn Institute</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="workCarousel" class="carousel carousel-4 slide color-two-l" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hide">
                            <li data-target="#homepageCarousel" data-slide-to="0" class="active"></li>
                        </ol>
                        
                        <div class="carousel-inner">
                            <div class="item item-dark active">
                                <img src="images/prv/school/school-5.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="item item-dark">
                                <img src="images/prv/magazine/magazine-6.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                        
                        <!-- Controls -->
                        <a class="left carousel-control" href="#workCarousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#workCarousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>       
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>Why choose us</span></h3>
                    </div>
                    <p>
                        <span class="primary-letter-style-1">L</span>
                        orem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intelleget, liber 
                        regione eu sit. Mea cu case ludus integre, vide viderer eleifend ex mea. His at soluta regione 
                        diceret, cum et atqui placerat petentium.
                    </p> 
                    <p>
                        Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intelleget, liber 
                        regione eu sit. Mea cu case ludus integre, vide viderer eleifend ex mea. His at soluta regione 
                        diceret, cum et atqui placerat petentium.
                    </p> 
                    <ul class="list-check">
                        <li><i class="fa fa-check"></i> Nam gravida magna vitae ante dignissim</li>
                        <li><i class="fa fa-check"></i> Duis rhoncus lectus at velit hendrerit quis</li>
                        <li><i class="fa fa-check"></i> Sed fringilla tempor arcu feugiat risus</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice light-gray bb">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero base no-margin" style="height: 290px;">
                        <div class="thmb-img">
                            <i class="fa fa-lightbulb-o"></i>
                        </div>
                        
                        <h2>Cursos Orientados a Profesionales</h2>
                        <p class="text-center">Te estregaremos las herramientas y contenidos para que puedas comunicar tus ideas en forma precisa y puedas comprender con claridad mensajes escritos y auditivos en inglés.</p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero base no-margin" style="height: 290px;">
                        <div class="thmb-img">
                            <i class="fa fa-group"></i>
                        </div>
                        
                        <h2>Grupos de Hasta 8 Participantesl</h2>
                        <p class="text-center">En Longbourn podrás compartir e intercambiar ideas con otros Profesionales que buscan tus mismos objetivos, lo que enriquece la experiencia de aprendizaje.</p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero base no-margin" style="height: 290px;">
                        <div class="thmb-img">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        
                        <h2>Los Mejores Horarios Nuestra Sede</h2>
                        <p class="text-center">Sabemos que tienes poco tiempo disponible. Los Cursos de Inglés Longbourn Institute se dictan temprano en la mañana o después de tu horario de oficina, en nuestra Sede Las Condes, a pasos del Metro Escuela Militar. </p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero base no-margin" style="height: 290px;">
                        <div class="thmb-img">
                            <i class="fa fa-pencil"></i>
                        </div>
                        
                        <h2>Metodología TEG</h2>
                        <p class="text-center">Las clases utilizan la Metodología TEG (Teaching English Gradually) que de una forma diferente, dinámica y entretenida, desarrolla de manera simultánea las 4 habilidades del idioma: leer, escribir, escuchar y hablar.</p>
                    </div>
                </div>
                    
            </div>

        </div>
    </div>
</section>


<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Características Generales</span>
                    <small>Cursos Longbourn Institute</small>
                </h3>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Horarios</h4>
                            <p>Consulta acá por horarios y vacantes disponibles.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Frecuencia de Clases</h4>
                            <p>2 veces por semana</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Ubicación</h4>
                            <p>Longbourn Sede Las Condes.</p>
                            <p>Coronel Pereira 72 Piso 11, Las Condes</p>
                        </div>
                    </div>
                </div>                    
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Criterios de Aprobación</h4>
                            <p>Obtener promedio de notas sobre 4.0</p>
                            <p>75% de asistencia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Grupos</h4>
                            <p>De 1 hasta 8 participantes, mismo nivel</p>
                        </div>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-barcode"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Código Sence</h4>
                            <p>Sí. Consulta con tu Empresa.</p>
                        </div>
                    </div>
                </div>                   
            </div>
        </div>
    </div>
</section>

<section class="slice animate-hover-slide bg-white bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Últimos Cursos Activos</span>
                    <small>Longbourn Institute</small>
                </h3>
            </div>
            <div class="owl-carousel owl-carousel-3">
                <div class="item">
                    <div class="wp-block default">
                        <div class="figure">
                        	<%=image_tag "prv/school/school-1.jpg", :class => "img-responsive"%>
                            <span class="wp-block-date-over alpha"><strong>Sep 10</strong></span>
                            <div class="figcaption bg-base"></div>
                            <div class="figcaption-btn">
                                <a href="images/prv/col-img-1.jpg" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                            </div>
                        </div>
                        <div class="wp-block-body bb">
                            <h2 class="title">Tronador</h2>
                            <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                            </p>
                        </div>
                        <ul class="aux-info-cells">
                            <li><i class="fa fa-calendar"></i> Sep 10</li>
                            <li><i class="fa fa-clock-o"></i> 10:00 AM</li>
                            <li><i class="fa fa-user"></i> <a href="#">A. Smith</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="item">
                    <div class="wp-block default">
                        <div class="figure">
                            <%=image_tag "prv/school/school-2.jpg", :class => "img-responsive"%>
                            <span class="wp-block-date-over alpha"><strong>Sep 23</strong></span>
                            <div class="figcaption bg-base"></div>
                            <div class="figcaption-btn">
                                <a href="images/prv/col-img-2.jpg" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                            </div>
                        </div>
                        <div class="wp-block-body bb">
                            <h2 class="title">MahunaKea</h2>
                            <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                            </p>
                        </div>
                        <ul class="aux-info-cells">
                            <li><i class="fa fa-calendar"></i> Aug 23</li>
                            <li><i class="fa fa-clock-o"></i> 8:30 AM</li>
                            <li><i class="fa fa-user"></i> <a href="#">A. Smith</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="item">
                    <div class="wp-block default">
                        <div class="figure">
                            <%=image_tag "prv/school/school-2.jpg", :class => "img-responsive"%>
                            <span class="wp-block-date-over alpha"><strong>Sep 25</strong></span>
                            <div class="figcaption bg-base"></div>
                            <div class="figcaption-btn">
                                <a href="images/prv/col-img-3.jpg" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                            </div>
                        </div>
                        <div class="wp-block-body bb">
                            <h2 class="title">Cook</h2>
                            <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                            </p>
                        </div>
                        <ul class="aux-info-cells">
                            <li><i class="fa fa-calendar"></i> Aug 10</li>
                            <li><i class="fa fa-clock-o"></i> 12:00 PM</li>
                            <li><i class="fa fa-user"></i> <a href="#">A. Smith</a></li>
                        </ul>
                    </div>
                </div>        

                <div class="item">
                    <div class="wp-block default">
                        <div class="figure">
                            <%=image_tag "prv/school/school-3.jpg", :class => "img-responsive"%>
                            <span class="wp-block-date-over alpha"><strong>Aug 03</strong></span>
                            <div class="figcaption bg-base"></div>
                            <div class="figcaption-btn">
                                <a href="images/prv/col-img-3.jpg" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                            </div>
                        </div>
                        <div class="wp-block-body bb">
                            <h2 class="title">Catedral</h2>
                            <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                            </p>
                        </div>
                        <ul class="aux-info-cells">
                            <li><i class="fa fa-calendar"></i> Aug 03</li>
                            <li><i class="fa fa-clock-o"></i> 8:30 AM</li>
                            <li><i class="fa fa-user"></i> <a href="#">A. Smith</a></li>
                        </ul>
                    </div>
                </div>       

                <div class="item">
                    <div class="wp-block default">
                        <div class="figure">
                            <%=image_tag "prv/school/school-4.jpg", :class => "img-responsive"%>
                            <span class="wp-block-date-over alpha"><strong>Jul 28</strong></span>
                            <div class="figcaption bg-base"></div>
                            <div class="figcaption-btn">
                                <a href="images/prv/col-img-3.jpg" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                            </div>
                        </div>
                        <div class="wp-block-body bb">
                            <h2 class="title">Cotopaxi</h2>
                            <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                            </p>
                        </div>
                        <ul class="aux-info-cells">
                            <li><i class="fa fa-calendar"></i> Jul 28</li>
                            <li><i class="fa fa-clock-o"></i> 8:00 AM</li>
                            <li><i class="fa fa-user"></i> <a href="#">A. Smith</a></li>
                        </ul>
                    </div>
                </div>       

                <div class="item">
                    <div class="wp-block default">
                        <div class="figure">
                            <%=image_tag "prv/school/school-1.jpg", :class => "img-responsive"%>
                            <span class="wp-block-date-over alpha"><strong>Jul 20</strong></span>
                            <div class="figcaption bg-base"></div>
                            <div class="figcaption-btn">
                                <a href="images/prv/col-img-3.jpg" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                            </div>
                        </div>
                        <div class="wp-block-body bb">
                            <h2 class="title">Licancabur</h2>
                            <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                            </p>
                        </div>
                        <ul class="aux-info-cells">
                            <li><i class="fa fa-calendar"></i> Jul 220</li>
                            <li><i class="fa fa-clock-o"></i> 10:30 AM</li>
                            <li><i class="fa fa-user"></i> <a href="#">A. Smith</a></li>
                        </ul>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</section>


<section class="slice white">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Proceso de Postulación</span>
                    <small>Longbourn Institute</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                   <%=image_tag "backgrounds/full-bg-20.jpg", :size => "580x369"%>
                </div>
                <div class="col-md-6">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-child"></i>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="title">Punto de Partida</h4>
                            <p>El Punto de Partida queda determinado por el nivel inicial de inglés, que será medido a través de nuestra <b>Prueba de Diagnóstico</b>.</p>
                        </div>
                    </div>
                    
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-flag"></i>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="title">El Objetivo lo Defines Tú</h4>
                            <p>La cantidad de libros a contratar queda determinada por lo que cada Profesional o Grupo necesite o quiera aprender.</p>
                        </div>
                    </div>
                    
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-check-square-o"></i>
                        </div>   
                        <div class="icon-block-body">
                            <h4 class="title">Prueba de Diagnóstico Sin Costo</h4>
                            <p>Inscríbete en nuestra Prueba de Diagnóstico. Con tus resultados y teniendo en cuenta el objetivo deseado, generaremos la cotización final de tu <b>Programa Longbourn Institute</b>.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        
        </div>
    </div>
</section>

    <!-- LIGHT -->
<section class="slice bg-white" id="plan-prices">
    <div class="wp-section pricing-plans">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Valores</span>
                    <small>Longbourn Institute</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title">Private Executive</h2>
                            <h3 class="price-tag"><span>$</span>23.000</h3>
                            <small class="plan-info">Valor Hora por Persona</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-user"></i> Curso Individual Cerrado</li>
                            <li><i class="fa fa-map-marker"></i> Sede Las Condes</li>
                            <li><i class="fa fa-clock-o"></i> Horario a Definir con el Cliente</li>
                        </ul>          
                        <p class="plan-select-block">
                            <a href="#" class="btn btn-lg btn-block-bm btn-light btn-icon btn-check" hidefocus="true">
                                <span>Postula!</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wp-block popular">
                        <div class="plan-header light">
                            <div class="popular-tag dark">Destacado</div>
                            <h2 class="plan-title">Professional Group</h2>
                            <h3 class="price-tag"><span>$</span>9.000</h3>
                            <small class="plan-info">Valor Hora por Persona</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-group"></i> Máximo 8 Participantes del Mismo Nivel</li>
                            <li><i class="fa fa-map-marker"></i> Sede Las Condes</li>
                            <li><i class="fa fa-clock-o"></i> Cursos de 17:00 a 20:30 hrs.</li>
                        </ul>          
                        <p class="plan-select-block">
                            <a href="#" class="btn btn-lg btn-block-bm btn-light btn-icon btn-check" hidefocus="true">
                                <span>Postula!</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title">StartUp Group</h2>
                            <h3 class="price-tag"><span>$</span>7.500</h3>
                            <small class="plan-info">Valor Hora por Persona</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-group"></i> Máximo 8 Participantes del Mismo Nivel</li>
                            <li><i class="fa fa-map-marker"></i> Sede Las Condes</li>
                            <li><i class="fa fa-clock-o"></i> Cursos de 8:00 a 17:30 hrs.</li>
                        </ul>         
                        <p class="plan-select-block">
                            <a href="#" class="btn btn-lg btn-block-bm btn-light btn-icon btn-check" hidefocus="true">
                                <span>Postula!</span>
                            </a>
                        </p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>