<div class="section">
	<div class="container-fluid info-section">
		<h1><%=@page_title%></h1>
		<div class="row">
			<!-- Testimonial -->
			<div class="testimonial-nb col-md-4">
				<!-- Author Photo -->
				<div class="author-photo">
					<i class="fa fa-building fa-5x"></i>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>Cursos de Inglés en tu Oficina</h4>
						<!-- Quote -->
						<p class="quote">
                            Cursos de inglés especialmente diseñados para ejecutivos con poco tiempo disponible, que necesitan una capacitación personalizada, efectiva y flexible en su propia oficina.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
			<div class="testimonial-nb col-md-4">
				<div class="author-photo">
					<i class="fa fa-suitcase fa-5x"></i>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>Contenidos Orientados a Ejecutivos</h4>
						<p class="quote">
                            Los Cursos de Inglés Executive te entregarán, sin moverte de tu escritorio, las herramientas y contenidos para comunicarte en forma precisa y para entender con claridad los mensajes leídos y escuchados en inglés.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
			<div class="testimonial-nb col-md-4">
				<div class="author-photo">
					<i class="fa fa-comments-o fa-5x"></i>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>Metodología TEG</h4>
						<p class="quote">
                            Las clases utilizan la <b>Metodología TEG</b> (Teaching English Gradually) que de una forma <b>diferente, dinámica y entretenida</b>, desarrolla de manera simultánea las 4 habilidades del idioma: leer, escribir, escuchar y hablar.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
		</div>
	</div>
</div>



<div class="section">
    <div class="container-fluid info-section">
		<h1>Cursos Longbourn</h1>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 info-frame">
				<p>
					Nuestro modelo de aprendizaje de inglés es similar al escalamiento gradual de una montaña. Como se muestra en el siguiente esquema, se puede llegar a la cima por diferentes rutas:
				</p>

				<div class="row">
					<div class="col-xs-8 carousel-wrapper">
						<div id="slider-frame" class="shadow">
							<%=image_tag "site-pics/Diagrama_1.png", :size => "600x342", :alt => "imagen 1", :class => "opaque"%>
							<%=image_tag "site-pics/Diagrama_2.png", :size => "600x342", :alt => "imagen 1"%>
							<%=image_tag "site-pics/Diagrama_3.png", :size => "600x342", :alt => "imagen 1"%>
							<%=image_tag "site-pics/Diagrama_4.png", :size => "600x342", :alt => "imagen 1"%>
							<%=image_tag "site-pics/Diagrama_5.png", :size => "600x342", :alt => "imagen 1"%>
							<%=image_tag "site-pics/Diagrama_6.png", :size => "600x342", :alt => "imagen 1"%>
							<%=image_tag "site-pics/Diagrama_7.png", :size => "600x342", :alt => "imagen 1"%>
							<%=image_tag "site-pics/Diagrama_8.png", :size => "600x342", :alt => "imagen 1"%>
						</div>
					</div>
					<div class="col-xs-4 routes-list">
						<h2>Rutas de Longbourn</h2>
						<ol id="slide_controls">
							<li class="selected">Nociones de Ingles</li>
							<li>Comunicación Escrita</li>
							<li>Participación Activa en Reuniones</li>
							<li>Presentaciones y Llamadas telefonicas</li>
							<li>Dirigir Reuniones</li>
							<li>Redacción de Contratos / Papers Académicos</li>
							<li>Presentaciones en Congresos Internacionales</li>
							<li>Negociación Avanzada</li>
						</ol>
					</div>
				</div>

				<p>
					Nuestros libros tienen nombres de montañas debido a que cada uno representa distinto grado de dificultad y permite alcanzar distintos objetivos, tal como se indican en el esquema.
				</p>
				<p>
					En cada clase se trabaja con:
				</p>
				<ul>
					<li>Videos</li>
					<li>Libros propios</li>
					<li>Canciones</li>
					<li>Lecturas</li>
					<li>Acceso Web de Estudiantes Longbourn.</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
  $("#slide_controls").on('mouseenter', 'li', function() {
    $("#slider-frame img").removeClass("opaque");

    var newImage = $(this).index();

    $("#slider-frame img").eq(newImage).addClass("opaque");

    $("#slider_controls li").removeClass("selected");
    $(this).addClass("selected");
  });
});
</script>


<div class="section">
    <div class="container-fluid info-section">
		<h1>Características Generales de los Cursos Longbourn Executive</h1>
		<div class="row">
			<div class="col-xs-12 info-frame">
				<div class="row feature-row">
					<div class="col-xs-4">
						<div class="feature-box">
							<div class="feature-box-header">
								<h4>Horarios</h4>
							</div>
							<div class="row feature-box-body">
								<div class="col-xs-4 feature-box-icon">
									<i class="fa fa-clock-o fa-4x"></i>
								</div>
								<div class="col-xs-8 feature-box-info">
									<ul>
										<li>Lunes a Viernes, a definir con el cliente.</li>
										<li>Desde 08:00 hasta 18:30 hrs.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="feature-box">
							<div class="feature-box-header">
								<h4>Frecuencia de Clases</h4>
							</div>
							<div class="row feature-box-body">
								<div class="col-xs-4 feature-box-icon">
									<i class="fa fa-calendar fa-4x"></i>
								</div>
								<div class="col-xs-8 feature-box-info">
									<ul>
										<li>2 o más clases de 90 minutos por semana</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="feature-box">
							<div class="feature-box-header">
								<h4>Ubicación</h4>
							</div>
							<div class="row feature-box-body">
								<div class="col-xs-4 feature-box-icon">
									<i class="fa fa-map-marker fa-4x"></i>
								</div>
								<div class="col-xs-8 feature-box-info">
									<ul>
										<li>Oficina del cliente.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row feature-row">
					<div class="col-xs-4">
						<div class="feature-box">
							<div class="feature-box-header">
								<h4>Criterio de aprobación de cursos</h4>
							</div>
							<div class="row feature-box-body">
								<div class="col-xs-4 feature-box-icon">
									<i class="fa fa-graduation-cap fa-4x"></i>
								</div>
								<div class="col-xs-8 feature-box-info">
									<ul>
										<li>Obtener promedio de notas sobre 4.0</li>
										<li>75% de asistencia.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="feature-box">
							<div class="feature-box-header">
								<h4>Reprogramaciones de Clases</h4>
							</div>
							<div class="row feature-box-body">
								<div class="col-xs-4 feature-box-icon">
									<i class="fa fa-times-circle fa-4x"></i>
								</div>
								<div class="col-xs-8 feature-box-info">
									<ul>
										<li>3 Reprogramaciones de Clases por cada 36 hrs. contratadas (no aplica para cursos Sence)</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="feature-box">
							<div class="feature-box-header">
								<h4>Código Sence</h4>
							</div>
							<div class="row feature-box-body">
								<div class="col-xs-4 feature-box-icon">
									<i class="fa fa-barcode fa-4x"></i>
								</div>
								<div class="col-xs-8 feature-box-info">
									<ul>
										<li>A partir de grupos de 4 o más personas.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="section">
    <div class="container-fluid info-section">
		<div class="row">
			<div class="col-xs-12 info-frame" style="margin-top: 20px;">
				<h1>Proceso de Inscripción</h1>
			</div>
			<div class="col-xs-10 col-xs-offset-1 info-frame" style="margin-top: 20px;">
				<p>
					El <b>Punto de Partida</b> queda determinado por el nivel inicial de inglés, que será medido a través de nuestra <b>Prueba de Diagnóstico</b>.
				</p>
				<div class="row">
					<div class="col-xs-8 col-xs-offset-2">
						<table class="table table-bordered info-frame-table">
							<thead>
								<tr>
									<th>Puntaje Prueba de Diagnóstico</th>
									<th>Ruta</th>
									<th>Libro Inicial</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>+71% Prueba Diagnóstico</td>
									<td>Expert Route</td>
									<td>Cotopaxi</td>
								</tr>
								<tr>
									<td>40% a 70% Prueba Diagnóstico</td>
									<td>Standard Route</td>
									<td>Mauna Kea</td>
								</tr>
								<tr>
									<td>0% a 39% Prueba Diagnóstico</td>
									<td>Introductory Route</td>
									<td>Tronador</td>
								</tr>
							
							</tbody>
						</table>
					</div>
				</div>

				<p>
					El <b>Punto Objetivo</b> lo decides tú.
				</p>
				<ul>
					<li>
						La cantidad de libros a contratar queda determinada por lo que cada Ejecutivo o Grupo necesite o quiera aprender.
					</li>
				</ul>

				<p>
					<b>Inscríbete</b> en nuestra <b>Prueba de Diagnóstico</b>. Con tus resultados y teniendo en cuenta el objetivo deseado, generaremos la cotización final de tu <b>Programa Longbourn Executive</b>.
				</p>

				<p>
					La <b>Prueba de Diagnóstico</b> no tiene costo.
				</p>
			</div>
		</div>
	</div>
</div>


<div class="section">
    <div class="container-fluid info-section">
		<div class="row">
			<div class="col-xs-12 info-frame" style="margin-top: 20px;">
				<h1>Valores</h1>
			</div>
			<div class="col-xs-10 col-xs-offset-1 info-frame" style="margin-top: 20px;">
				<p>
					Valores para programas cerrados In Office. Los valores van disminuyendo según la cantidad de alumnos interesados en el curso.
				</p>

	        	<div class="row">
	        		<div class="col-md-12">
	        			<div class="col-xs-4">
	        				<div class="box product-box">
	        					<div class="product-box-header">
	        						<h2 class="product-box-title">Private Executive</h2>
	        						<span class="product-box-subtitle">Curso Individual Cerrado</span>
	        					</div>
	        					<div class="product-box-body">
	        						<div class="body-section">
	        							<span class="bold-line">1 Participante</span>
	        							<span class="bold-line">In Office</span>
	        						</div>
	        						<div class="body-section">
	        							<span class="line">$23.000</span>
	        							<span class="line">Valor Hora por Persona</span>
	        						</div>
	        					</div>
	        					<div class="product-box-footer">
	        						<div class="row box-footer-row">
	        							<div class="col-xs-7">
	        								<span class="line">Duración Bloque (Aprox. 3 Meses)</span>
	        							</div>
	        							<div class="col-xs-5">
	        								36 hrs. cronológicas
	        							</div>
	        						</div>
	        						<div class="row box-footer-row">
	        							<div class="col-xs-7">
	        								<span class="line">Valor Bloque por Persona</span>
	        							</div>
	        							<div class="col-xs-5">
	        								$828.000
	        							</div>
	        						</div>
	        						<div class="row box-footer-lastrow">
	        							<div class="col-xs-7">
	        								<span class="line">3 Cuotas Mensuales por Persona</span>
	        							</div>
	        							<div class="col-xs-5">
	        								$276.000
	        							</div>
	        						</div>
	        					</div>
	        				</div>
	        			</div>
	        			<div class="col-xs-4">
	        				<div class="box product-box">
	        					<div class="product-box-header">
	        						<h2 class="product-box-title">Executive Group</h2>
	        						<span class="product-box-subtitle">Curso Grupal Cerrado</span>
	        					</div>
	        					<div class="product-box-body">
	        						<div class="body-section">
	        							<span class="bold-line">2 a 3 Participantes Mismo Nivel</span>
	        							<span class="bold-line">In Office</span>
	        						</div>
	        						<div class="body-section">
	        							<span class="line">$13.800</span>
	        							<span class="line">Valor Hora por Persona</span>
	        						</div>
	        					</div>
	        					<div class="product-box-footer">
	        						<div class="row box-footer-row">
	        							<div class="col-xs-7">
	        								<span class="line">Duración Bloque (Aprox. 3 Meses)</span>
	        							</div>
	        							<div class="col-xs-5">
	        								36 hrs. cronológicas
	        							</div>
	        						</div>
	        						<div class="row box-footer-row">
	        							<div class="col-xs-7">
	        								<span class="line">Valor Bloque por Persona</span>
	        							</div>
	        							<div class="col-xs-5">
	        								$496.800
	        							</div>
	        						</div>
	        						<div class="row box-footer-lastrow">
	        							<div class="col-xs-7">
	        								<span class="line">3 Cuotas Mensuales por Persona</span>
	        							</div>
	        							<div class="col-xs-5">
	        								$165.600
	        							</div>
	        						</div>
	        					</div>
	        				</div>
	        			</div>
	        			<div class="col-xs-4">
	        				<div class="box product-box">
	        					<div class="product-box-header">
	        						<h2 class="product-box-title">Premium Group</h2>
	        						<span class="product-box-subtitle">Curso Grupal Cerrado</span>
	        					</div>
	        					<div class="product-box-body">
	        						<div class="body-section">
	        							<span class="bold-line">4 a 6 Participantes Mismo Nivel</span>
	        							<span class="bold-line">In Office</span>
	        						</div>
	        						<div class="body-section">
	        							<span class="line">$9.000</span>
	        							<span class="line">Valor Hora por Persona</span>
	        						</div>
	        					</div>
	        					<div class="product-box-footer">
	        						<div class="row box-footer-row">
	        							<div class="col-xs-7">
	        								<span class="line">Duración Bloque (Aprox. 3 Meses)</span>
	        							</div>
	        							<div class="col-xs-5">
	        								36 hrs. cronológicas
	        							</div>
	        						</div>
	        						<div class="row box-footer-row">
	        							<div class="col-xs-7">
	        								<span class="line">Valor Bloque por Persona</span>
	        							</div>
	        							<div class="col-xs-5">
	        								$324.000
	        							</div>
	        						</div>
	        						<div class="row box-footer-lastrow">
	        							<div class="col-xs-7">
	        								<span class="line">3 Cuotas Mensuales por Persona</span>
	        							</div>
	        							<div class="col-xs-5">
	        								$108.000
	        							</div>
	        						</div>
	        					</div>
	        				</div>
	        			</div>
	        		</div>
	        	</div>

	        	<div class="row" style="margin-top: 15px;">
	        		<div class="col-xs-12">
						<p>
							Los valores incluyen:
						</p>
						<ul>
							<li>Clases presenciales individuales o grupales In Office</li>
							<li>Libros Originales TEG</li>
							<li>Material docente</li>
							<li>Acceso al sitio Web de estudiantes de Longbourn</li>
							<li>No hay costo asociado a matricula.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

    </div>
</div>
