<!DOCTYPE html>
<html>
<head>
  <%if @page_title%>
  	<title><%=@page_title%> : Longbourn</title>
  <%else%>
  	<title>Longbourn Institute</title>
  <%end%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page1">
<%= render "common_partials/top_menu"%>

<%= yield %>

<%= render "common_partials/bottom_menu"%>
</body>
</html>
